{% extends "base.html" %}

{% block title %}Tag Values Graph{% endblock %}

{% block page_content %}
    <div class = "embed-responsive embed-responsive-16by9">
        <iframe id = "iframe" class = "embed-responsive-item"></iframe>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type = "text/javascript" src = {{ url_for("static", filename = "js/moment.min.js") }}></script>
    <script type = "text/javascript" src = {{ url_for("static", filename = "js/moment-timezone-with-data.min.js") }}></script>
    <script>
        $(document).ready(function()
        {
            var parameters = ""
            {% if tag is not none %}
                parameters = "&enterpriseId=" + {{ tag.Area.Site.EnterpriseId }} + "&siteId=" + {{ tag.Area.SiteId }} + "&areaId=" + {{ tag.AreaId }} +
                    "&tagId=" + {{ tag.TagId }} + "&collapseExpand=collapsed"
            {% endif %}

            $("#iframe").attr("src", '{{ url_for("/tagValuesGraphDash/") }}' + "?localTimezone=" + moment.tz.guess(true) + parameters) 
        })
    </script>
{% endblock %}
