{% import "bootstrap/wtf.html" as wtf %}

{% extends "base.html" %}

{% block title %}
    Log In
{% endblock %}

{% block page_content %}
<div class = "page-header">
    <h1>Log In <small></small></h1>
</div>
<div class = "col-md-3">
    {{ wtf.quick_form(form) }}
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        $("#submit").hide()
        $("#submit").parent().append("<button class = \"btn btn-default\" title = \"Log In\" type = \"submit\">" +
            "<span class = \"glyphicon glyphicon-log-in\" aria-hidden = \"true\"></span></button>")
    </script>
{% endblock %}
