# Core packages:
# Flask-Bootstrap
# Flask-Login
# Flask-Migrate
# Flask-Moment
# Flask-WTF
# GitPython
# gunicorn
# mysqlclient
# python-dotenv
# pytz

# pip freeze:
alembic==1.0.9
Click==7.0
dominate==2.3.5
Flask==1.0.2
Flask-Bootstrap==3.3.7.1
Flask-Login==0.4.1
Flask-Migrate==2.4.0
Flask-Moment==0.7.0
Flask-SQLAlchemy==2.4.0
Flask-WTF==0.14.2
gitdb2==2.0.5
GitPython==2.1.11
gunicorn==19.9.0
itsdangerous==1.1.0
Jinja2==2.10.1
Mako==1.0.9
MarkupSafe==1.1.1
mysqlclient==1.4.2.post1
python-dateutil==2.8.0
python-dotenv==0.10.1
python-editor==1.0.4
pytz==2019.1
six==1.12.0
smmap2==2.0.5
SQLAlchemy==1.3.3
visitor==0.1.3
Werkzeug==0.15.2
WTForms==2.2.1
