{% extends "base.html" %}

{% block title %}
Event Frame Attribute Templates
{% endblock %}

{% block page_content %}
<div>
    <h1>Event Frame Attribute Templates</h1>
    <a class = "btn btn-default" title = "Add" href = "{{ url_for("eventFrameAttributeTemplates.addEventFrameAttributeTemplate") }}" role = "button">
        <span class="glyphicon glyphicon-plus"></span></a>
    <br><br>
    <table id = "eventFrameAttributeTemplatesTable" class = "table">
        <thead>
            <tr>
                <th>Event Frame Template</th>
                <th>Name</th>
                <th>Description</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for eventFrameAttributeTemplate in eventFrameAttributeTemplates %}
            <tr>
                <td>{{ eventFrameAttributeTemplate.EventFrameTemplate.ElementTemplate.Site.Enterprise.Abbreviation + "_" + eventFrameAttributeTemplate.EventFrameTemplate.ElementTemplate.Site.Abbreviation + "_" + eventFrameAttributeTemplate.EventFrameTemplate.ElementTemplate.Name + "_" + eventFrameAttributeTemplate.EventFrameTemplate.Name }}</td>
                <td>{{ eventFrameAttributeTemplate.Name }}</td>
                <td>{{ eventFrameAttributeTemplate.Description }}</td>
                <td><a class = "btn btn-default" title = "Edit" href = "{{ url_for("eventFrameAttributeTemplates.editEventFrameAttributeTemplate",
                    eventFrameAttributeTemplateId = eventFrameAttributeTemplate.EventFrameAttributeTemplateId) }}">
                    <span class="glyphicon glyphicon-edit"></span></a></td>
                <td><a class = "btn btn-default" title = "Delete" href = "{{ url_for("eventFrameAttributeTemplates.deleteEventFrameAttributeTemplate",
                    eventFrameAttributeTemplateId = eventFrameAttributeTemplate.EventFrameAttributeTemplateId) }}">
                    <span class="glyphicon glyphicon-trash"></span></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <link rel = "stylesheet" type = "text/css" href = {{ url_for("static", filename = "css/datatables.min.css") }}/> 
    <script type = "text/javascript" src = {{ url_for("static", filename = "js/datatables.min.js") }}></script>
    <script>
        $('#eventFrameAttributeTemplatesTable').DataTable
        ({
            "order":
            [
                [0, 'asc'],             // event frame template path.
                [1, 'asc']              // event frame attribute template name.
            ],
            "columns":
            [
                null,
                null,
                null,
                { "orderable": false }, // Edit event frame attribute button.
                { "orderable": false }  // Delete event frame attribute button.
            ],
            "stateSave": true,
            "stateDuration": 0,
            "pageLength": 25
        });
    </script>
{% endblock %}
