<!-- app/templates/admin/enterprises/enterprises.html -->

{% import "bootstrap/utils.html" as utils %}

{% extends "base.html" %}

{% block title %}Enterprises{% endblock %}

{% block page_content %}
<div>
    <h1>Enterprises</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Abbreviation</th>
                <th>Description</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for enterprise in enterprises %}
            <tr>
                <td>{{ enterprise.Name }}</td>
                <td>{{ enterprise.Abbreviation }}</td>
                <td>{{ enterprise.Description }}</td>
                <td><a class="btn btn-default" href="{{ url_for('admin.edit_enterprise', id=enterprise.EnterpriseId) }}">Edit</a></td>
                <td><a class="btn btn-default" href="{{ url_for('admin.delete_enterprise', id=enterprise.EnterpriseId) }}">Delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-default" href="{{ url_for('admin.add_enterprise') }}" role="button">Add</a>
</div>
{% endblock %}
