<!-- app/templates/admin/tags/tags.html -->

{% extends "base.html" %}

{% block title %}Tags{% endblock %}

{% block page_content %}
<div>
    <h1>Tags</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Area</th>
                <th>Name</th>
                <th>Description</th>
                <th>UnitOfMeasurement</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for tag in tags %}
            <tr>
                <td>{{ tag.Area.Site.Enterprise.Abbreviation + "_" + tag.Area.Site.Abbreviation + "_" + tag.Area.Abbreviation }}</td>
                <td>{{ tag.Name }}</td>
                <td>{{ tag.Description }}</td>
                <td>{{ tag.UnitOfMeasurement.Abbreviation }}</td>
                <td><a class="btn btn-default" href="{{ url_for('admin.edit_tag', id=tag.TagId) }}">Edit</a></td>
                <td><a class="btn btn-default" href="{{ url_for('admin.list_tagValues', tagId=tag.TagId) }}">Values</a></td>
                <td><a class="btn btn-default" href="{{ url_for('admin.delete_tag', id=tag.TagId) }}">Delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-default" href="{{ url_for('admin.add_tag') }}" role="button">Add</a>
</div>
{% endblock %}
