<!-- app/templates/admin/tagValues/tagValues.html -->

{% extends "base.html" %}

{% import "_macros.html" as macros %}

{% block title %}Tag Values{% endblock %}

{% block page_content %}
<div>
    <h1>Tag Values</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Tag</th>
                <th>Timestamp</th>
                <th>Value</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for tagValue in tagValues %}
            <tr>
                <td>{{ tagValue.Tag.Area.Site.Enterprise.Abbreviation + "_" + tagValue.Tag.Area.Site.Abbreviation + "_" + tagValue.Tag.Area.Abbreviation + "_" + tagValue.Tag.Name }}</td>
                <td>{{ tagValue.Timestamp }}</td>
                <td>{{ tagValue.Value|string + " " + tagValue.Tag.UnitOfMeasurement.Abbreviation }}</td>
                <td><a class="btn btn-default" href="{{ url_for('admin.edit_tagValue', id=tagValue.TagValueId) }}">Edit</a></td>
                <td><a class="btn btn-default" href="{{ url_for('admin.delete_tagValue', id=tagValue.TagValueId) }}">Delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-default" href="{{ url_for('admin.add_tagValue', tagId=tagId) }}" role="button">Add</a>
</div>
{% if pagination %}
<div class="text-right">
    {{ macros.pagination_widget(pagination, '.list_tagValues', tagId=tagId) }}
</div>
{% endif %}
{% endblock %}
