{% extends "base.html" %}

{% block title %}
Raspberry Pi - Info
{% endblock %}

{% block page_content %}
<div class = "page-header">
    <h1>Raspberry Pi <small>Info</small></h1>
</div>
<div class = "panel panel-primary">
    <div class = "panel-heading">Memory</div>
    <div class = "panel-body">{{ freeOutput | safe }}</div>
</div>
<div class = "panel panel-primary">
    <div class = "panel-heading">Network</div>
    <div class = "panel-body">{{ ipOutput | safe }}</div>
</div>
<div class = "panel = panel-primary">
    <div class = "panel-heading">Uptime</div>
    <div class = "panel-body">{{ uptimeOutput }}</div>
</div>
{% endblock %}
