{% extends "base.html" %}

{% block title %}
Units of Measurment
{% endblock %}

{% block page_content %}
<div>
    <h1>Units of Measurement</h1>
    <a class = "btn btn-default" title = "Add" href = "{{ url_for("unitOfMeasurements.addUnitOfMeasurement") }}" role = "button">
        <span class="glyphicon glyphicon-plus"></span></a>
    <br><br>
    <table id = "unitOfMeasurementsTable" class = "table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Abbreviation</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for unitOfMeasurement in unitOfMeasurements %}
            <tr>
                <td>{{ unitOfMeasurement.Name }}</td>
                <td>{{ unitOfMeasurement.Abbreviation }}</td>
                <td><a class = "btn btn-default" title = "Edit" href = "{{ url_for("unitOfMeasurements.editUnitOfMeasurement",
                    unitOfMeasurementId = unitOfMeasurement.UnitOfMeasurementId) }}"><span class="glyphicon glyphicon-edit"></span></a></td>
                <td><a class = "btn btn-default" title = "Delete" href = "{{ url_for("unitOfMeasurements.deleteUnitOfMeasurement",
                    unitOfMeasurementId = unitOfMeasurement.UnitOfMeasurementId) }}"><span class="glyphicon glyphicon-trash"></span></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <link rel = "stylesheet" type = "text/css" href = {{ url_for("static", filename = "css/datatables.min.css") }}/> 
    <script type = "text/javascript" src = {{ url_for("static", filename = "js/datatables.min.js") }}></script>
    <script>
        $('#unitOfMeasurementsTable').DataTable
        ({
            "order":
            [
                [0, 'asc'],             // Name.
            ],
            "columns":
            [
                null,
                null,
                { "orderable": false }, // Edit button.
                { "orderable": false }  // Delete button.
            ],
            "stateSave": true,
            "stateDuration": 0,
            "pageLength": 25
        });
    </script>
{% endblock %}
