{% extends "base.html" %}

{% import "_macros.html" as macros %}

{% block title %}
Units of Measurment
{% endblock %}

{% block page_content %}
<div>
    <h1>Units of Measurment</h1>
    <a class = "btn btn-default" href = "{{ url_for("unitOfMeasurements.addUnitOfMeasurement") }}" role = "button">Add</a>
    <table class = "table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Abbreviation</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for unitOfMeasurement in unitOfMeasurements %}
            <tr>
                <td>{{ unitOfMeasurement.Name }}</td>
                <td>{{ unitOfMeasurement.Abbreviation }}</td>
                <td><a class = "btn btn-default" href = "{{ url_for("unitOfMeasurements.editUnitOfMeasurement",
                    unitOfMeasurementId = unitOfMeasurement.UnitOfMeasurementId) }}">Edit</a></td>
                <td><a class = "btn btn-default" href = "{{ url_for("unitOfMeasurements.deleteUnitOfMeasurement",
                    unitOfMeasurementId = unitOfMeasurement.UnitOfMeasurementId) }}">Delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% if pagination %}
<div class = "text-right">
    {{ macros.pagination_widget(pagination, ".listUnitOfMeasurements") }}
</div>
{% endif %}
{% endblock %}
