{% extends "base.html" %}

{% block title %}
Event Frame Templates
{% endblock %}

{% block page_content %}
<div>
    <h1>Event Frame Templates</h1>
    <a class = "btn btn-default" data-toggle = "tooltip" title = "Add" href = "{{ url_for("eventFrameTemplates.addEventFrameTemplate") }}" role = "button">
        <span class="glyphicon glyphicon-plus"></span></a>
    <table class = "table">
        <thead>
            <tr>
                <th>Element Template</th>
                <th>Parent Event Frame Template</th>
                <th>Name</th>
                <th>Order</th>
                <th>Description</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for eventFrameTemplate in eventFrameTemplates %}
            <tr>
                <td>{{ eventFrameTemplate.ElementTemplate.Site.Enterprise.Abbreviation + "_" + eventFrameTemplate.ElementTemplate.Site.Abbreviation + "_" +
                    eventFrameTemplate.ElementTemplate.Name }}</td>
                {% if eventFrameTemplate.ParentEventFrameTemplateId %}
                    <td>{{ eventFrameTemplate.ParentEventFrameTemplate.Name }}</td>
                {% else %}
                    <td></td>
                {% endif %}
                <td>{{ eventFrameTemplate.Name }}</td>
                <td>{{ eventFrameTemplate.Order }}</td>
                <td>{{ eventFrameTemplate.Description }}</td>
                <td><a class = "btn btn-default" data-toggle = "tooltip" title = "Children"
                    href = "{#{ url_for("tagValues.listTagValues", tagId = elementAttribute.Tag.TagId, 
                    lookupId = elementAttribute.Tag.LookupId) }#}"><span class="glyphicon glyphicon-list"></span></a></td>
                <td><a class = "btn btn-default" data-toggle = "tooltip" title = "Edit" href = "{{ url_for("eventFrameTemplates.editEventFrameTemplate",
                    eventFrameTemplateId = eventFrameTemplate.EventFrameTemplateId) }}"><span class="glyphicon glyphicon-edit"></a></td>
                <td><a class = "btn btn-default" data-toggle = "tooltip" title = "Delete" href = "{{ url_for("eventFrameTemplates.deleteEventFrameTemplate",
                    eventFrameTemplateId = eventFrameTemplate.EventFrameTemplateId) }}"><span class="glyphicon glyphicon-trash"></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
