{% extends "base.html" %}

{% block title %}
Event Frame Templates
{% endblock %}

{% block page_content %}
<div>
    <h1>Event Frame Templates</h1>
    <table class = "table">
        <thead>
            <tr>
                <th>Element Template</th>
                <th>Parent Event Frame Template</th>
                <th>Name</th>
                <th>Order</th>
                <th>Description</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for eventFrameTemplate in eventFrameTemplates %}
            <tr>
                <td>{{ eventFrameTemplate.ElementTemplate.Site.Enterprise.Abbreviation + "_" + eventFrameTemplate.ElementTemplate.Site.Abbreviation + "_" +
                    eventFrameTemplate.ElementTemplate.Name }}</td>
                {% if eventFrameTemplate.ParentEventFrameTemplateId %}
                    <td>{{ eventFrameTemplate.ParentEventFrameTemplate.ElementTemplate.Site.Enterprise.Abbreviation + "_" + 
                        eventFrameTemplate.ParentEventFrameTemplate.ElementTemplate.Site.Abbreviation + "_" + 
                        eventFrameTemplate.ParentEventFrameTemplate.ElementTemplate.Name + "_" + eventFrameTemplate.ParentEventFrameTemplate.Name }}</td>
                {% else %}
                    <td></td>
                {% endif %}
                <td>{{ eventFrameTemplate.Name }}</td>
                <td>{{ eventFrameTemplate.Order }}</td>
                <td>{{ eventFrameTemplate.Description }}</td>
                <td><a class = "btn btn-default" href = "{{ url_for("eventFrameTemplates.editEventFrameTemplate",
                    eventFrameTemplateId = eventFrameTemplate.EventFrameTemplateId) }}">Edit</a></td>
                <td><a class = "btn btn-default" href = "{{ url_for("eventFrameTemplates.deleteEventFrameTemplate",
                    eventFrameTemplateId = eventFrameTemplate.EventFrameTemplateId) }}">Delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a class = "btn btn-default" href = "{{ url_for("eventFrameTemplates.addEventFrameTemplate") }}" role = "button">Add</a>
</div>
{% endblock %}
