{% extends "base.html" %}

{% import "_macros.html" as macros %}

{% block title %}
Event Frame Templates
{% endblock %}

{% block page_content %}
<div>
    <ol class="breadcrumb">
        {% if parentEventFrameTemplate %}
            {% set parentEventFrameTemplateId = parentEventFrameTemplate.EventFrameTemplateId %}
            <li><a href = "{{ url_for("eventFrameTemplates.listEventFrameTemplates") }}">Event Frame Templates</a></li>
            {% for ancestor in parentEventFrameTemplate.ancestors([]) %}
                <li><a href = "{{ url_for("eventFrameTemplates.listEventFrameTemplates",
                    parentEventFrameTemplateId = ancestor.EventFrameTemplateId) }}">{{ ancestor.Name }}</a></li>
            {% endfor %}
            <li class = "active">{{ parentEventFrameTemplate.Name }}</li>
        {% else %}
            {% set parentEventFrameTemplateId = None %}
            <li class = "active">Event Frame Templates</li>
        {% endif %}
    </ol>
    <h1>Event Frame Templates</h1>
    <a class = "btn btn-default" data-toggle = "tooltip" title = "Add" href = "{{ url_for("eventFrameTemplates.addEventFrameTemplate",
        parentEventFrameTemplateId = parentEventFrameTemplateId) }}" role = "button"><span class="glyphicon glyphicon-plus"></span></a>
    <table class = "table">
        <thead>
            <tr>
                <th></th>
                {% if parentEventFrameTemplate == None %}
                    <th><a href = "{{ url_for("eventFrameTemplates.listEventFrameTemplates") }}">Element Template</a></th>
                {% endif %}
                <th><a href = "{{ url_for("eventFrameTemplates.listEventFrameTemplates", parentEventFrameTemplateId = parentEventFrameTemplateId, 
                    sortColumn = "EventFrameTemplate.Name") }}">Name</a></th>
                {% if parentEventFrameTemplate %}
                    <th><a href = "{{ url_for("eventFrameTemplates.listEventFrameTemplates", parentEventFrameTemplateId = parentEventFrameTemplateId, 
                        sortColumn = "EventFrameTemplate.Order") }}">Order</a></th>
                {% endif %}
                <th><a href = "{{ url_for("eventFrameTemplates.listEventFrameTemplates", parentEventFrameTemplateId = parentEventFrameTemplateId, 
                    sortColumn = "EventFrameTemplate.Description") }}">Description
                    </a></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for eventFrameTemplate in eventFrameTemplates %}
            <tr>
                <td><a class = "btn btn-default" data-toggle = "tooltip" title = "Children"
                    href = "{{ url_for("eventFrameTemplates.listEventFrameTemplates",
                    parentEventFrameTemplateId = eventFrameTemplate.EventFrameTemplateId) }}"><span class="glyphicon glyphicon-list"></span></a></td>
                {% if parentEventFrameTemplate == None %}
                    <td>{{ eventFrameTemplate.ElementTemplate.Site.Enterprise.Abbreviation + "_" + eventFrameTemplate.ElementTemplate.Site.Abbreviation + "_" +
                        eventFrameTemplate.ElementTemplate.Name }}</td>
                {% endif %}
                <td>{{ eventFrameTemplate.Name }}</td>
                {% if parentEventFrameTemplate %}
                    <td>{{ eventFrameTemplate.Order }}</td>
                {% endif %}
                <td>{{ eventFrameTemplate.Description }}</td>
                <td><a class = "btn btn-default" data-toggle = "tooltip" title = "Edit" href = "{{ url_for("eventFrameTemplates.editEventFrameTemplate",
                    eventFrameTemplateId = eventFrameTemplate.EventFrameTemplateId) }}"><span class="glyphicon glyphicon-edit"></a></td>
                <td><a class = "btn btn-default" data-toggle = "tooltip" title = "Delete" href = "{{ url_for("eventFrameTemplates.deleteEventFrameTemplate",
                    eventFrameTemplateId = eventFrameTemplate.EventFrameTemplateId) }}"><span class="glyphicon glyphicon-trash"></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% if pagination %}
<div class = "text-right">
    {{ macros.pagination_widget(pagination, ".listEventFrameTemplates") }}
</div>
{% endif %}
{% endblock %}
