{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Event Frame Templates
{% endblock %}

{% block page_content %}
<div>
    <ol class = "breadcrumb">
        {% set origin = parent.origin() %}
        <li><a href = "{{ url_for("eventFrames.selectEventFrame", selectedClass = "Root") }}">..</a></li>
        <li><a href = "{{ url_for("eventFrames.selectEventFrame", selectedClass = "Enterprise",
            selectedId = origin.ElementTemplate.Site.Enterprise.id()) }}">{{ origin.ElementTemplate.Site.Enterprise.Name }}</a></li>
        <li><a href = "{{ url_for("eventFrames.selectEventFrame", selectedClass = "Site",
            selectedId = origin.ElementTemplate.Site.id()) }}">{{ origin.ElementTemplate.Site.Name }}</a></li>
        <li><a href = "{{ url_for("eventFrames.selectEventFrame", selectedClass = "ElementTemplate",
            selectedId = origin.ElementTemplate.id()) }}">{{ origin.ElementTemplate.Name }}</a></li>
        {% for ancestor in parent.ancestors([]) %}
            <li><a href = "{{ url_for("eventFrameTemplates.selectEventFrameTemplate", eventFrameTemplateId = ancestor.id()) }}">{{ ancestor.Name }}</a></li>
        {% endfor %}
        <li class = "active">{{ parent.Name }}</li>
    </ol>
</div>
<div class = "page-header">
    <h1>Event Frame Templates <small></small></h1>
</div>
<div>
    <a class = "btn btn-default" title = "Add" href = "{{ url_for("eventFrameTemplates.addEventFrameTemplate",
        parentEventFrameTemplateId = parent.id()) }}" role = "button"><span class = "glyphicon glyphicon-plus"></span></a>
    <br><br>
    <table id = "eventFrameTemplatesTable" class = "table">
        <thead>
            <tr>
                <th></th>
                <th>Event Frame Template</th>
                <th>Description</th>
                <th>Order</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% if children %}
                {% for child in children %}
                    <tr>
                        <td><a class = "btn btn-default" title = "Children" href = "{{ url_for("eventFrameTemplates.selectEventFrameTemplate",
                            eventFrameTemplateId = child.id()) }}"><span class = "glyphicon glyphicon-list"></span></a></td>
                        <td>{{ child.Name }}</td>
                        <td>{{ child.Description }}</td>
                        <td>{{ child.Order }}</td>
                        <td><a class = "btn btn-default" title = "Edit" href = "{{ url_for("eventFrameTemplates.editEventFrameTemplate",
                            eventFrameTemplateId = child.id()) }}"><span class = "glyphicon glyphicon-edit"></a></td>
                        <td><a class = "btn btn-default" title = "Delete" href = "{{ url_for("eventFrameTemplates.deleteEventFrameTemplate",
                            eventFrameTemplateId = child.id()) }}"><span class = "glyphicon glyphicon-trash"></a></td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
</div>
<div class = "page-header">
    <h1>Event Frame Attribute Templates <small></small></h1>
</div>
<div>
    <a class = "btn btn-default" title = "Add" href = "{{ url_for("eventFrameAttributeTemplates.addEventFrameAttributeTemplate", 
        eventFrameTemplateId = parent.EventFrameTemplateId) }}" role = "button"><span class = "glyphicon glyphicon-plus"></span></a>
    <br><br>
    <table id = "eventFrameAttributeTemplatesTable" class = "table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for eventFrameAttributeTemplate in eventFrameAttributeTemplates %}
            <tr>
                <td>{{ eventFrameAttributeTemplate.Name }}</td>
                <td>{{ eventFrameAttributeTemplate.Description }}</td>
                <td><a class = "btn btn-default" title = "Edit" href = "{{ url_for("eventFrameAttributeTemplates.editEventFrameAttributeTemplate",
                    eventFrameAttributeTemplateId = eventFrameAttributeTemplate.EventFrameAttributeTemplateId) }}">
                    <span class = "glyphicon glyphicon-edit"></span></a></td>
                <td><a class = "btn btn-default" title = "Delete" href = "{{ url_for("eventFrameAttributeTemplates.deleteEventFrameAttributeTemplate",
                    eventFrameAttributeTemplateId = eventFrameAttributeTemplate.EventFrameAttributeTemplateId) }}">
                    <span class = "glyphicon glyphicon-trash"></span></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <link rel = "stylesheet" type = "text/css" href = {{ url_for("static", filename = "css/datatables.min.css") }}/> 
    <script type = "text/javascript" src = {{ url_for("static", filename = "js/datatables.min.js") }}></script>
    <script>
        $(document).ready(function()
        {
            $('#eventFrameTemplatesTable').DataTable
            ({
                "order":
                [
                    [3, 'asc'],             // Order.
                    [1, 'asc']              // Name.
                ],
                "columns":
                [
                    { "orderable": false }, // Children button.
                    null,
                    null,
                    null,
                    { "orderable": false }, // Edit button.
                    { "orderable": false }  // Delete button.
                ],
                "stateSave": true,
                "stateDuration": 0,
                "pageLength": 25
            })
            $('#eventFrameAttributeTemplatesTable').DataTable
            ({
                "order":
                [
                    [0, 'asc']              // Name.
                ],
                "columns":
                [
                    null,
                    null,
                    { "orderable": false }, // Edit button.
                    { "orderable": false }  // Delete button.
                ],
                "stateSave": true,
                "stateDuration": 0,
                "pageLength": 25
            })
        })
    </script>
{% endblock %}
