{% import "bootstrap/utils.html" as utils %}

{% extends "base.html" %}

{% block title %}
Enterprises
{% endblock %}

{% block page_content %}
<div>
    <h1>Enterprises</h1>
    <a class = "btn btn-default" href = "{{ url_for("enterprises.addEnterprise") }}" role = "button"><span class="glyphicon glyphicon-plus"></span></a>
    <table class = "table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Abbreviation</th>
                <th>Description</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for enterprise in enterprises %}
            <tr>
                <td>{{ enterprise.Name }}</td>
                <td>{{ enterprise.Abbreviation }}</td>
                <td>{{ enterprise.Description }}</td>
                <td><a class = "btn btn-default" href = "{{ url_for("enterprises.editEnterprise", enterpriseId = enterprise.EnterpriseId) }}">
                    <span class="glyphicon glyphicon-edit"></span></a></td>
                <td><a class = "btn btn-default" href = "{{ url_for("enterprises.deleteEnterprise", enterpriseId = enterprise.EnterpriseId) }}">
                    <span class="glyphicon glyphicon-trash"></span></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
