{% extends "base.html" %}

{% import "_macros.html" as macros %}

{% block title %}
Tag Values
{% endblock %}

{% block page_content %}
<div>
    <ol class="breadcrumb">
        {% if elementAttribute %}
            <li><a href = "{{ url_for("elements.selectElement", className = "root", id = None) }}">..</a></li>
            <li><a href = "{{ url_for("elements.selectElement", className = elementAttribute.Element.ElementTemplate.Site.Enterprise.__class__.__name__,
                id = elementAttribute.Element.ElementTemplate.Site.Enterprise.EnterpriseId) }}">
                {{ elementAttribute.Element.ElementTemplate.Site.Enterprise.Name }}</a></li>
            <li><a href = "{{ url_for("elements.selectElement", className = elementAttribute.Element.ElementTemplate.Site.__class__.__name__,
                id = elementAttribute.Element.ElementTemplate.Site.SiteId) }}">{{ elementAttribute.Element.ElementTemplate.Site.Name }}</a></li>
            <li><a href = "{{ url_for("elements.selectElement", className = elementAttribute.Element.ElementTemplate.__class__.__name__,
                id = elementAttribute.Element.ElementTemplate.ElementTemplateId) }}">{{ elementAttribute.Element.ElementTemplate.Name }}</a></li>
            <li><a href = "{{ url_for("elements.dashboard", elementId = elementAttribute.Element.ElementId) }}">
                {{ elementAttribute.Element.Name }}</a></li>
            <li class = "active">{{ elementAttribute.AttributeTemplate.Name }}</li>
        {% else %}
            <li><a href = "{{ url_for("tags.selectTag", className = "Root") }}">..</a></li>
            <li><a href = "{{ url_for("tags.selectTag", className = tag.Area.Site.Enterprise.__class__.__name__,
                id = tag.Area.Site.Enterprise.EnterpriseId) }}">{{ tag.Area.Site.Enterprise.Name }}</a></li>
            <li><a href = "{{ url_for("tags.selectTag", className = tag.Area.Site.__class__.__name__, id = tag.Area.Site.SiteId) }}">
                {{ tag.Area.Site.Name }}</a></li>
            <li><a href = "{{ url_for("tags.selectTag", className = tag.Area.__class__.__name__, id = tag.Area.AreaId) }}">{{ tag.Area.Name }}</a></li>
            <li class = "active">{{ tag.Name }}</li>
        {% endif %}
    </ol>
    <a class = "btn btn-default" title = "Add" href = "{{ url_for("tagValues.addTagValue", tagId = tag.TagId) }}" role = "button">
        <span class="glyphicon glyphicon-plus"></span></a>
    <br><br>
    <table id = "tagValuesTable" class = "table">
        <thead>
            <tr>
                <th>Timestamp</th>
                <th>Value</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for tagValue in tagValues %}
            <tr>
                <td>{{ tagValue.Timestamp }}</td>
                {% if tagValue.Tag.LookupId %}
                    <td>{{ tagValue.Tag.Lookup.LookupValues | selectattr("Value", "equalto", tagValue.Value) | map(attribute = "Name") | list | first }}</td>
                {% else %}
                    <td>{{ tagValue.Value | string + " " + tagValue.Tag.UnitOfMeasurement.Abbreviation }}</td>
                {% endif %}
                <td><a class = "btn btn-default" title = "Edit" href = "{{ url_for("tagValues.editTagValue", tagValueId = tagValue.TagValueId) }}">
                    <span class="glyphicon glyphicon-edit"></span></a></td>
                <td><a class = "btn btn-default" title = "Delete" href = "{{ url_for("tagValues.deleteTagValue", tagValueId = tagValue.TagValueId) }}">
                    <span class="glyphicon glyphicon-trash"></span></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <link rel = "stylesheet" type = "text/css" href = {{ url_for("static", filename = "css/datatables.min.css") }}/> 
    <script type = "text/javascript" src = {{ url_for("static", filename = "js/datatables.min.js") }}></script>
    <script>
        $('#tagValuesTable').DataTable
        ({
            order:
            [
                [0, 'desc']              // Timestamp.
            ],
            "columns":
            [
                null,
                null,
                { "orderable": false }, // Edit tag value button.
                { "orderable": false }  // Delete tag value button.
            ],
            stateSave: true
        });
    </script>
{% endblock %}
