{% extends "base.html" %}

{% import "_macros.html" as macros %}

{% block title %}
Tag Value Notes
{% endblock %}

{% block page_content %}
<div>
    <ol class="breadcrumb">
        {% if elementAttribute %}
            <li><a href = "{{ url_for("elements.selectElement", className = "root", id = None) }}">..</a></li>
            <li><a href = "{{ url_for("elements.selectElement", className = elementAttribute.Element.ElementTemplate.Site.Enterprise.__class__.__name__,
                id = elementAttribute.Element.ElementTemplate.Site.Enterprise.EnterpriseId) }}">
                {{ elementAttribute.Element.ElementTemplate.Site.Enterprise.Name }}</a></li>
            <li><a href = "{{ url_for("elements.selectElement", className = elementAttribute.Element.ElementTemplate.Site.__class__.__name__,
                id = elementAttribute.Element.ElementTemplate.Site.SiteId) }}">{{ elementAttribute.Element.ElementTemplate.Site.Name }}</a></li>
            <li><a href = "{{ url_for("elements.selectElement", className = elementAttribute.Element.ElementTemplate.__class__.__name__,
                id = elementAttribute.Element.ElementTemplate.ElementTemplateId) }}">{{ elementAttribute.Element.ElementTemplate.Name }}</a></li>
            <li><a href = "{{ url_for("elements.dashboard", elementId = elementAttribute.Element.ElementId) }}">
                {{ elementAttribute.Element.Name }}</a></li>
            <li class = "active">{{ elementAttribute.AttributeTemplate.Name }}</li>
        {% else %}
            <li><a href = "{{ url_for("tags.selectTag", className = "Root") }}">..</a></li>
            <li><a href = "{{ url_for("tags.selectTag", className = tagValue.Tag.Area.Site.Enterprise.__class__.__name__,
                id = tagValue.Tag.Area.Site.Enterprise.EnterpriseId) }}">{{ tagValue.Tag.Area.Site.Enterprise.Name }}</a></li>
            <li><a href = "{{ url_for("tags.selectTag", className = tagValue.Tag.Area.Site.__class__.__name__, id = tagValue.Tag.Area.Site.SiteId) }}">
                {{ tagValue.Tag.Area.Site.Name }}</a></li>
            <li><a href = "{{ url_for("tags.selectTag", className = tagValue.Tag.Area.__class__.__name__, id = tagValue.Tag.Area.AreaId) }}">
                {{ tagValue.Tag.Area.Name }}</a></li>
            <li><a href = "{{ url_for("tagValues.listTagValues", tagId = tagValue.Tag.TagId) }}">{{ tagValue.Tag.Name }}</a></li>
            <li class = "active">{{ tagValue.Timestamp }}</li>
        {% endif %}
    </ol>
    <h1>Tag Value Notes</h1>
    <a class = "btn btn-default" title = "Add" href = "{{ url_for("tagValues.addTagValueNote", tagValueId = tagValue.TagValueId) }}" role = "button">
        <span class="glyphicon glyphicon-plus"></span></a>
    <br><br>
    <table id = "tagValuesTable" class = "table">
        <thead>
            <tr>
                <th>Note</th>
                <th>Timestamp</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for tagValueNote in tagValueNotes %}
                <tr>
                    <td>{{ tagValueNote.Note.Note }}</td>
                    <td>{{ tagValueNote.Note.Timestamp }}</td>
                    <td><a class = "btn btn-default" title = "Edit" href = "{{ url_for("tagValues.editTagValueNote",
                        noteId = tagValueNote.NoteId) }}"><span class="glyphicon glyphicon-edit"></span></a></td>
                    <td><a class = "btn btn-default" title = "Delete" href = "{{ url_for("tagValues.deleteTagValueNote",
                        noteId = tagValueNote.NoteId, tagValueId = tagValueNote.TagValueId) }}"><span class="glyphicon glyphicon-trash"></span></a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <link rel = "stylesheet" type = "text/css" href = {{ url_for("static", filename = "css/datatables.min.css") }}/> 
    <script type = "text/javascript" src = {{ url_for("static", filename = "js/datatables.min.js") }}></script>
    <script>
        $('#tagValuesTable').DataTable
        ({
            "order":
            [
                [1, 'desc']              // Timestamp.
            ],
            "columns":
            [
                null,
                null,
                { "orderable": false }, // Edit tag value button.
                { "orderable": false }  // Delete tag value button.
            ],
            "stateSave": true,
            "stateDuration": 0,
            "pageLength": 25
        });
    </script>
{% endblock %}
