{% extends "base.html" %}

{% block title %}
Tag Values
{% endblock %}

{% block page_content %}
<div>
    <ol class = "breadcrumb">
        {% if elementAttribute %}
            <li><a href = "{{ url_for("elements.selectElement", selectedClass = "Root") }}">..</a></li>
            <li><a href = "{{ url_for("elements.selectElement", selectedClass = "Enterprise",
                selectedId = elementAttribute.Element.ElementTemplate.Site.Enterprise.EnterpriseId) }}">
                {{ elementAttribute.Element.ElementTemplate.Site.Enterprise.Name }}</a></li>
            <li><a href = "{{ url_for("elements.selectElement", selectedClass = "Site",
                selectedId = elementAttribute.Element.ElementTemplate.Site.SiteId) }}">{{ elementAttribute.Element.ElementTemplate.Site.Name }}</a></li>
            <li><a href = "{{ url_for("elements.selectElement", selectedClass = "ElementTemplate",
                selectedId = elementAttribute.Element.ElementTemplate.ElementTemplateId) }}">{{ elementAttribute.Element.ElementTemplate.Name }}</a></li>
            <li><a href = "{{ url_for("elements.dashboard", elementId = elementAttribute.Element.ElementId) }}">
                {{ elementAttribute.Element.Name }}</a></li>
            <li class = "active">{{ elementAttribute.ElementAttributeTemplate.Name }}</li>
        {% elif eventFrame %}
            <li><a href = "{{ url_for("eventFrames.selectEventFrame", selectedClass = "Root") }}">..</a></li>
            <li><a href = "{{ url_for("eventFrames.selectEventFrame", selectedClass = "Enterprise",
                selectedId = eventFrame.Element.ElementTemplate.Site.Enterprise.EnterpriseId) }}">
                {{ eventFrame.Element.ElementTemplate.Site.Enterprise.Name }}</a></li>
            <li><a href = "{{ url_for("eventFrames.selectEventFrame", selectedClass = "Site", selectedId = eventFrame.Element.ElementTemplate.Site.SiteId) }}">
                {{ eventFrame.Element.ElementTemplate.Site.Name }}</a></li>
            <li><a href = "{{ url_for("eventFrames.selectEventFrame", selectedClass = "ElementTemplate",
                selectedId = eventFrame.Element.ElementTemplate.ElementTemplateId) }}">{{ eventFrame.Element.ElementTemplate.Name }}</a></li>
            <li><a href = "{{ url_for("eventFrames.selectEventFrame", selectedClass = "EventFrameTemplate",
                selectedId = eventFrame.EventFrameTemplate.EventFrameTemplateId) }}">{{ eventFrame.EventFrameTemplate.Name }}</a></li>
            <li><a href = "{{ url_for("eventFrames.dashboard", eventFrameId = eventFrame.EventFrameId) }}">{{ eventFrame.friendlyName(True) }}</a></li>
            <li class = "active">{{ eventFrameAttribute.EventFrameAttributeTemplate.Name }}</li>
        {% else %}
            <li><a href = "{{ url_for("tags.selectTag", selectedClass = "Root") }}">..</a></li>
            <li><a href = "{{ url_for("tags.selectTag", selectedClass = "Enterprise", selectedId = tag.Area.Site.Enterprise.EnterpriseId) }}">
                {{ tag.Area.Site.Enterprise.Name }}</a></li>
            <li><a href = "{{ url_for("tags.selectTag", selectedClass = "Site", selectedId = tag.Area.Site.SiteId) }}">{{ tag.Area.Site.Name }}</a></li>
            <li><a href = "{{ url_for("tags.selectTag", selectedClass = "Area", selectedId = tag.Area.AreaId) }}">{{ tag.Area.Name }}</a></li>
            <li class = "active">{{ tag.Name }}</li>
        {% endif %}
    </ol>
</div>
<div class = "page-header">
    <h1>Tag Values <small></small></h1>
</div>
<div>
    {% if elementAttribute %}
        <a class = "btn btn-default" title = "Add" href = "{{ url_for("tagValues.addTagValue", elementAttributeId = elementAttribute.ElementAttributeId) }}"
            role = "button"><span class = "glyphicon glyphicon-plus"></span></a>
    {% elif eventFrame %}
        <a class = "btn btn-default" title = "Add" href = "{{ url_for("tagValues.addTagValue", eventFrameId = eventFrame.EventFrameId,
            eventFrameAttributeId = eventFrameAttribute.EventFrameAttributeId) }}" role = "button"><span class = "glyphicon glyphicon-plus"></span></a>
    {% else %}
        <a class = "btn btn-default" title = "Add" href = "{{ url_for("tagValues.addTagValue", tagId = tag.TagId) }}" role = "button">
            <span class = "glyphicon glyphicon-plus"></span></a>
    {% endif %}
    <br><br>
    <table id = "tagValuesTable" class = "table">
        <thead>
            <tr>
                <th>Timestamp</th>
                <th>Value</th>
                {% if tag.LookupId %}
                    <th>Lookup Name</th>
                {% else %}
                    <th>Unit</th>
                {% endif %}
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for tagValue in tagValues %}
                <tr>
                    <td>{{ tagValue.Timestamp }}</td>
                    {% if tagValue.Tag.LookupId %}
                        <td>{{ tagValue.Tag.Lookup.LookupValues | selectattr("Value", "equalto", tagValue.Value) | map(attribute = "Name") | list | first }}</td>
                        <td>{{ tagValue.Tag.Lookup.Name }}</td>
                    {% else %}
                        <td>{{ tagValue.Value }}</td>
                        <td>{{ tagValue.Tag.UnitOfMeasurement.Abbreviation }}</td>
                    {% endif %}
                    {% if elementAttribute %}
                        <td><a class = "btn btn-default" title = "Edit" href = "{{ url_for("tagValues.editTagValue", tagValueId = tagValue.TagValueId,
                            elementAttributeId = elementAttribute.ElementAttributeId) }}"><span class = "glyphicon glyphicon-edit"></span></a></td>
                    {% elif eventFrame %}
                        <td><a class = "btn btn-default" title = "Edit" href = "{{ url_for("tagValues.editTagValue", tagValueId = tagValue.TagValueId,
                            eventFrameId = eventFrame.EventFrameId, eventFrameAttributeId = eventFrameAttribute.EventFrameAttributeId) }}">
                            <span class = "glyphicon glyphicon-edit"></span></a></td>
                    {% else %}
                        <td><a class = "btn btn-default" title = "Edit" href = "{{ url_for("tagValues.editTagValue", tagValueId = tagValue.TagValueId) }}">
                            <span class = "glyphicon glyphicon-edit"></span></a></td>
                    {% endif %}
                    {% if tagValue.TagValueNotes[0] %}
                        {% set noteButtonClass = "btn btn-default has-note" %}
                    {% else %}
                        {% set noteButtonClass = "btn btn-default" %}
                    {% endif %}
                    {% if elementAttribute %}
                        <td><a class = "{{ noteButtonClass }}" title = "Notes" href = "{{ url_for("tagValueNotes.listTagValueNotes", 
                            tagValueId = tagValue.TagValueId, elementAttributeId = elementAttribute.ElementAttributeId) }}">
                            <span class = "glyphicon glyphicon-comment"></span></a></td>
                    {% elif eventFrame %}
                        <td><a class = "{{ noteButtonClass }}" title = "Notes" href = "{{ url_for("tagValueNotes.listTagValueNotes", 
                            tagValueId = tagValue.TagValueId, eventFrameId = eventFrame.EventFrameId,
                            eventFrameAttributeId = eventFrameAttribute.EventFrameAttributeId) }}"><span class = "glyphicon glyphicon-comment"></span></a></td>
                    {% else %}
                        <td><a class = "{{ noteButtonClass }}" title = "Notes" href = "{{ url_for("tagValueNotes.listTagValueNotes", 
                            tagValueId = tagValue.TagValueId) }}"><span class = "glyphicon glyphicon-comment"></span></a></td>
                    {% endif %}
                    <td><a class = "btn btn-default" title = "Delete" href = "{{ url_for("tagValues.deleteTagValue", tagValueId = tagValue.TagValueId) }}">
                        <span class = "glyphicon glyphicon-trash"></span></a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <link rel = "stylesheet" type = "text/css" href = {{ url_for("static", filename = "css/datatables.min.css") }}/> 
    <link rel = "stylesheet" type = "text/css" href = {{ url_for("static", filename = "css/styles.css") }}/>
    <script type = "text/javascript" src = {{ url_for("static", filename = "js/datatables.min.js") }}></script>
    <script>
        $(document).ready(function()
        {
            $("#tagValuesTable").DataTable
            ({
                "order":
                [
                    [0, "desc"]              // Timestamp.
                ],
                "columns":
                [
                    null,
                    null,
                    null,
                    { "orderable": false }, // Edit tag value button.
                    { "orderable": false }, // Add note button.
                    { "orderable": false }  // Delete tag value button.
                ],
                "stateSave": true,
                "stateDuration": 0,
                "pageLength": 25
            })
        })
    </script>
{% endblock %}
