{% extends "base.html" %}

{% import "_macros.html" as macros %}

{% block title %}
Tag Values
{% endblock %}

{% block page_content %}
<div>
    <h1>{{ tag.Name }} - Tag Values</h1>
    <a class = "btn btn-default" title = "Add" href = "{{ url_for("tagValues.addTagValue", tagId = tag.TagId) }}" role = "button">
        <span class="glyphicon glyphicon-plus"></span></a>
    <table class = "table">
        <thead>
            <tr>
                <th>Timestamp</th>
                <th>Value</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for tagValue in tagValues %}
            <tr>
                <td>{{ tagValue.Timestamp }}</td>
                {% if tagValue.Tag.LookupId %}
                    <td>{{ tagValue.Tag.Lookup.LookupValues | selectattr("Value", "equalto", tagValue.Value) | map(attribute = "Name") | list | first }}</td>
                {% else %}
                    <td>{{ tagValue.Value | string + " " + tagValue.Tag.UnitOfMeasurement.Abbreviation }}</td>
                {% endif %}
                <td><a class = "btn btn-default" title = "Edit" href = "{{ url_for("tagValues.editTagValue", tagValueId = tagValue.TagValueId) }}">
                    <span class="glyphicon glyphicon-edit"></span></a></td>
                <td><a class = "btn btn-default" title = "Delete" href = "{{ url_for("tagValues.deleteTagValue", tagValueId = tagValue.TagValueId) }}">
                    <span class="glyphicon glyphicon-trash"></span></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% if pagination %}
<div class = "text-right">
    {{ macros.pagination_widget(pagination, ".listTagValues", tagId = tag.TagId) }}
</div>
{% endif %}
{% endblock %}
