{% extends "base.html" %}

{% block title %}
Brewery Pi
{% endblock %}

{% block page_content %}
<div class = "page-header">
    <h1>Brewery Pi <small>Data for the Craft Brewer</small></h1>
</div>
{% if current_user.is_authenticated %}
    <a class = "btn btn-default" title = "Log Out" href = "{{ url_for("authentications.logout") }}"><span class = "glyphicon glyphicon-log-out"></span></a>
{% else %}
    <a class = "btn btn-default" title = "Log In" href = "{{ url_for("authentications.login") }}"><span class = "glyphicon glyphicon-log-in"></span></a>
{% endif %}
{% endblock %}
