{% extends "addEdit.html" %}

{% block scripts %}
    {{ super() }}
    <script>
        function populateSourceEventFrameList()
        {
            var sourceEventFrameTemplateId = $("#sourceEventFrameTemplate").val()
            var activeSourceEventFramesOnly = $("#activeSourceEventFramesOnly").is(":checked")
            $.ajax(
            {
                type : "POST",
                url : "/eventFrames/getSourceEventFrames/" + sourceEventFrameTemplateId + "/" + activeSourceEventFramesOnly
            }).done(function(sourceEventFrames)
            {
                var selectSourceEventFrame = $("#sourceEventFrame")
                selectSourceEventFrame.empty().append($("<option />").val(-1).text(""))
                $.each(sourceEventFrames, function(i)
                {
                    selectSourceEventFrame.append($("<option />").val(sourceEventFrames[i].value).text(sourceEventFrames[i].name))
                })
            }).fail(function()
            {
                $(".alert").remove()
                $("#divFlashedMessages").append('<div class = "alert alert-danger"><button type = "button" class = "close" ' +
                    'data-dismiss = "alert">&times;</button>The attempt to update the Source Event Frame list has failed.</div>')
            })
        }

        function setUtcTimestamps()
        {
            var startTimestamp = $("#startTimestamp").val()
            var startTimestampIsValid = moment(startTimestamp, "YYYY-M-D H:m:s").isValid()
            var endTimestamp = $("#endTimestamp").val()
            var endTimestampIsValid = moment(endTimestamp, "YYYY-M-D H:m:s").isValid()
            var timestamp

            // If the start timestamp is valid, update the start UTC timestamp.
            if (startTimestampIsValid)
            {
                timestamp = moment(startTimestamp)
                $("#startUtcTimestamp").val(timestamp.utc().format("YYYY-MM-DD HH:mm:ss"))
            }

            // If the end timestamp is valid, update the end UTC timestamp.
            if (endTimestampIsValid)
            {
                timestamp = moment(endTimestamp)
                $("#endUtcTimestamp").val(timestamp.utc().format("YYYY-MM-DD HH:mm:ss"))
            }
        }

        $(document).ready(function()
        {
            {% if not form.errors %}
                var startTimestamp = moment.utc($("#startTimestamp").attr("value"))
                var endTimestampIsNotBlank = $("#endTimestamp").val() != ""
                $("#startTimestamp").val(startTimestamp.local().format("YYYY-MM-DD HH:mm:ss"))
                if (endTimestampIsNotBlank)
                {
                    var endTimestamp = moment.utc($("#endTimestamp").attr("value"))
                    $("#endTimestamp").val(endTimestamp.local().format("YYYY-MM-DD HH:mm:ss"))
                }
            {% endif %}

            $("#sourceEventFrameTemplate").on("change", function()
            {
                populateSourceEventFrameList()
            })

            $("#activeSourceEventFramesOnly").on("change", function()
            {
                populateSourceEventFrameList()
            })

            $("#buttonSave").on("click", function()
            {
                setUtcTimestamps()
            })

            $(document).keypress(function(event)
            {
                if (event.which == 13)
                {
                    setUtcTimestamps()
                }
            })
        })
    </script>
{% endblock %}