{% extends "base.html" %}

{% block title %}
Event Frames
{% endblock %}

{% block page_content %}
<div>
    {% set origin = parentEventFrame.origin() %}
    <ol class="breadcrumb">
        <li><a href = "{{ url_for("elements.selectElement", className = origin.Element.ElementTemplate.Site.Enterprise.__class__.__name__,
            id = origin.Element.ElementTemplate.Site.Enterprise.EnterpriseId) }}">{{ origin.Element.ElementTemplate.Site.Enterprise.Name }}</a></li>
        <li><a href = "{{ url_for("elements.selectElement", className = origin.Element.ElementTemplate.Site.__class__.__name__,
            id = origin.Element.ElementTemplate.Site.SiteId) }}">{{ origin.Element.ElementTemplate.Site.Name }}</a></li>
        <li><a href = "{{ url_for("elements.selectElement", className = origin.Element.ElementTemplate.__class__.__name__,
            id = origin.Element.ElementTemplate.ElementTemplateId) }}">{{ origin.Element.ElementTemplate.Name }}</a></li>
        <li><a href = "{{ url_for("elements.selectElement", className = origin.Element.__class__.__name__,
            id = origin.Element.ElementId) }}">{{ origin.Element.Name }}</a></li>
        {% if parentEventFrame.ParentEventFrameId %}
            :(
        {% else %}
            <li><a href = "{{ url_for("eventFrames.listEventFrames", elementId = parentEventFrame.Element.ElementId,
                eventFrameTemplateId = parentEventFrame.EventFrameTemplate.EventFrameTemplateId) }}">{{ parentEventFrame.EventFrameTemplate.Name }} Event Frames</a></li>
        {% endif %}
        <li class = "active">{{ parentEventFrame.timestampRange() }}</li>
    </ol>
    <a class = "btn btn-default" title = "Add" href = "{#{ url_for("eventFrames.addEventFrame", elementId = element.ElementId,
        eventFrameTemplateId = eventFrameTemplate.EventFrameTemplateId) }#}" role = "button"><span class="glyphicon glyphicon-plus"></a>
    <h1>{{ origin.Element.Name }}</h1>
    <table class = "table">
        <thead>
            <tr>
                <th>Event Frame</th>
                <th>Start Time</th>
                <th>End Time</th>
            </tr>
        </thead>
        <tbody>
            {% for eventFrame in eventFrames %}
                <tr>
                    <td>{{ eventFrame.EventFrameTemplate.Name }}</td>
                    <td>{{ eventFrame.StartTimestamp }}</td>
                    {% if eventFrame.EndTimestamp %}
                        <td>{{ eventFrame.EndTimestamp }}</td>
                    {% else %}
                        <td></td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>                    
</div>
{% endblock %}
