{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Event Frame Dashboard
{% endblock %}

{% block page_content %}
<div>
    <ol class="breadcrumb">
        <li><a href = "{{ url_for("eventFrames.select", selectedClass = "Root") }}">..</a></li>
        <li><a href = "{{ url_for("eventFrames.select", selectedClass = "Enterprise", selectedId = eventFrame.Element.ElementTemplate.Site.Enterprise.id()) }}">
            {{ eventFrame.Element.ElementTemplate.Site.Enterprise.Name }}</a></li>
        <li><a href = "{{ url_for("eventFrames.select", selectedClass = "Site", selectedId = eventFrame.Element.ElementTemplate.Site.id()) }}">
            {{ eventFrame.Element.ElementTemplate.Site.Name }}</a></li>
        <li><a href = "{{ url_for("eventFrames.select", selectedClass = "ElementTemplate", selectedId = eventFrame.Element.ElementTemplate.id()) }}">
            {{ eventFrame.Element.ElementTemplate.Name }}</a></li>
        <li><a href = "{{ url_for("eventFrames.select", selectedClass = "Element", selectedId = eventFrame.Element.ElementId) }}">
            {{ eventFrame.Element.Name }}</a></li>
        <li><a href = "{{ url_for("eventFrames.select", selectedClass = "EventFrame", selectedId = eventFrame.EventFrameTemplate.EventFrameTemplateId,
            elementId = eventFrame.Element.ElementId) }}">{{ eventFrame.EventFrameTemplate.Name }}</a></li>
        <li class = "active">{{ eventFrame.friendlyName() }}</li>
    </ol>
</div>
<div class = "container">
    <div class = "row">
        <div class = "col-md-2">
            <br>
            <ul class = "nav nav-pills nav-stacked">
                {% for descendant in eventFrame.EventFrameTemplate.descendants([], 0) %}
                    {% set prefix = "&nbsp;" * descendant["level"] %}
                    {% if descendant["eventFrameTemplate"].EventFrameTemplateId == selectedEventFrameTemplate.EventFrameTemplateId %}
                        {% set class = "active" %}
                    {% else %}
                        {% set class = "" %}
                    {% endif %}
                    <li class = "{{ class }}"><a href = "{{ url_for("eventFrames.dashboard", eventFrameId = eventFrame.EventFrameId,
                            selectedEventFrameTemplateId = descendant["eventFrameTemplate"].EventFrameTemplateId) }}">{{ prefix | safe }}
                            {{descendant["eventFrameTemplate"].Name }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class = "col-md-10">
            <h1>Event Frames <small>Attributes</small></h1>
            {% for eventFrameAttributeTemplate in selectedEventFrameTemplate.EventFrameAttributeTemplates %}
                {{ eventFrameAttributeTemplate.Name }}<br>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}