{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Event Frame Dashboard
{% endblock %}

{% block page_content %}
<div>
    <ol class = "breadcrumb">
        {#% if eventFrame.ParentEventFrameId %#}
            <li><a href = "{{ url_for("eventFrames.selectEventFrame", selectedClass = "Root") }}">..</a></li>
            <li><a href = "{{ url_for("eventFrames.selectEventFrame", selectedClass = "Enterprise",
                selectedId = eventFrame.origin().EventFrameTemplate.ElementTemplate.Site.Enterprise.id()) }}">
                {{ eventFrame.origin().EventFrameTemplate.ElementTemplate.Site.Enterprise.Name }}</a></li>
            <li><a href = "{{ url_for("eventFrames.selectEventFrame", selectedClass = "Site",
                selectedId = eventFrame.origin().EventFrameTemplate.ElementTemplate.Site.id()) }}">
                {{ eventFrame.origin().EventFrameTemplate.ElementTemplate.Site.Name }}</a></li>
            <li><a href = "{{ url_for("eventFrames.selectEventFrame", selectedClass = "ElementTemplate",
                selectedId = eventFrame.origin().EventFrameTemplate.ElementTemplate.id()) }}">
                {{ eventFrame.origin().EventFrameTemplate.ElementTemplate.Name }}</a></li>
            <li><a href = "{{ url_for("eventFrames.selectEventFrame", selectedClass = "EventFrameTemplate",
                selectedId = eventFrame.origin().EventFrameTemplate.EventFrameTemplateId) }}">{{ eventFrame.origin().EventFrameTemplate.Name }}</a></li>
            {% set eventFrames = eventFrame.ancestors([]) %}
            {% do eventFrames.append(eventFrame) %}
            {% for eventFrame in eventFrames %}
                {% if loop.last %}
                    {% if eventFrame.ParentEventFrameId == None %}
                        <li class = "active">{{ eventFrame.friendlyName() }}</li>
                    {% else %}
                        <li class = "active">{{ eventFrame.EventFrameTemplate.Name }}&nbsp;&nbsp;/&nbsp;&nbsp;{{ eventFrame.friendlyName() }}</li>
                    {% endif %}
                {% else %}
                    {% if eventFrame.ParentEventFrameId == None %}
                        <li><a href = "{{ url_for("eventFrames.dashboard", eventFrameId = eventFrame.EventFrameId) }}">{{ eventFrame.friendlyName() }}</a></li>
                    {% else %}
                        <li><a href = "{{ url_for("eventFrames.dashboard", eventFrameId = eventFrame.EventFrameId) }}">
                            {{ eventFrame.EventFrameTemplate.Name }}&nbsp;&nbsp;/&nbsp;&nbsp;{{ eventFrame.friendlyName() }}</a></li>
                    {% endif %}
                {% endif %}
            {% endfor %}
    </ol>
</div>
{% if eventFrame.EventFrameTemplate.hasDescendants() %}
    <div class = "page-header">
        <h1>Child Event Frames <small>{{ eventFrame.origin().Element.Name }}</small></h1>
    </div>
    <div>
        <a class = "btn btn-default" title = "Add" href = "{{ url_for("eventFrames.addEventFrame", parentEventFrameId = eventFrame.EventFrameId) }}"
            role = "button"><span class = "glyphicon glyphicon-plus"></span></a>
        <br><br>
        <table id = "childEventFramesTable" class = "table">
            <thead>
                <tr>
                    <th></th>
                    <th>Template</th>
                    <th>Name</th>
                    <th>Start</th>
                    <th>End</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for eventFrame in eventFrame.EventFrames %}
                    <tr>
                        <td><a class = "btn btn-default" title = "Select" href = "{{ url_for("eventFrames.dashboard",
                            eventFrameId = eventFrame.EventFrameId,) }}"><span class = "glyphicon glyphicon-list"></span></a></td>
                        <td>{{ eventFrame.EventFrameTemplate.Name }}</td>
                        <td>{{ eventFrame.friendlyName() }}</td>
                        <td>{{ eventFrame.StartTimestamp }}</td>
                        <td>{{ eventFrame.EndTimestamp }}</td>
                        {% if eventFrame.EndTimestamp == None %}
                            <td><a class = "btn btn-default" title = "End" href = "{{ url_for("eventFrames.endEventFrame",
                                eventFrameId = eventFrame.EventFrameId) }}"><span class = "glyphicon glyphicon-stop"></span></a></td>
                        {% else %}
                            <td></td>
                        {% endif %}
                        <td><a class = "btn btn-default" title = "Edit" href = "{{ url_for("eventFrames.editEventFrame",
                            eventFrameId = eventFrame.EventFrameId) }}"><span class = "glyphicon glyphicon-edit"></span></a></td>
                        <td><a class = "btn btn-default" title = "Delete" href = "{{ url_for("eventFrames.deleteEventFrame",
                            eventFrameId = eventFrame.EventFrameId) }}"><span class = "glyphicon glyphicon-trash"></span></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}
<div class = "page-header">
    <h1>Attributes <small>{{ eventFrame.origin().Element.Name }} <a class = "btn btn-default" title = "Associate Attributes with Tags"
        href = "{#{ url_for("elementAttributes.listElementAttributes", elementId = element.ElementId) }#}">
        <span class = "glyphicon glyphicon-link"></span></a></small></h1>
</div>
<div>
    <table id = "attributesTable" class = "table">
        <thead>
            <tr>
                <th></th>
                <th>Attribute</th>
                <th>Last Timestamp</th>
                <th>Last Value</th>
                <th>Unit</th>
                <th>New Value</th>
                <th>New Timestamp</th>
                <th><button class = "btn btn-default" id = "buttonAttributesSaveAll" title = "Save All"><span class = "glyphicon glyphicon-floppy-disk"></span>
                    </button></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <!-- <tbody>
            {#% for elementAttribute in elementAttributes %}
                <tr>
                    <td><a class = "btn btn-default" title = "Select" href = "{{ url_for("tagValues.listTagValues", tagId = elementAttribute.Tag.TagId,
                        elementAttributeId = elementAttribute.ElementAttributeId) }}"><span class = "glyphicon glyphicon-list"></span></a></td>
                    <td>{{ elementAttribute.ElementAttributeTemplate.Name }}</td>
                    {% if elementAttribute.Tag.TagValues[0] %}
                        {% set firstTagValue = elementAttribute.Tag.TagValues | sort(attribute = "Timestamp", reverse = True) | first %}
                        <td id = "tdLastTimestamp{{ elementAttribute.ElementAttributeId }}">{{ firstTagValue.Timestamp }}</td>
                        {% if elementAttribute.Tag.LookupId %}
                            <td id = "tdLastValue{{ elementAttribute.ElementAttributeId }}">{{ elementAttribute.Tag.Lookup.LookupValues | 
                                    selectattr("Value", "equalto", firstTagValue.Value) | map(attribute = "Name") | list | first }}          
                            <td>{{ elementAttribute.Tag.Lookup.Name }}</td>
                        {% else %}
                            <td id = "tdLastValue{{ elementAttribute.ElementAttributeId }}">{{ firstTagValue.Value }}</td>                    
                            <td>{{ firstTagValue.Tag.UnitOfMeasurement.Abbreviation }}</td>
                        {% endif %}
                    {% else %}
                        <td id = "tdLastTimestamp{{ elementAttribute.ElementAttributeId }}"></td>
                        <td id = "tdLastValue{{ elementAttribute.ElementAttributeId }}"></td>
                        <td></td>
                    {% endif %}
                    <td>
                        <div class = "form-group" id = "divNewValue{{ elementAttribute.ElementAttributeId }}">
                        {% if elementAttribute.Tag.LookupId %}
                            <select class = "form-control" id = "selectNewValue{{ elementAttribute.ElementAttributeId }}">
                                <option value = "-1"></option>
                                {% for lookupValue in elementAttribute.Tag.Lookup.LookupValues %}
                                    {% if lookupValue.Selectable %}
                                        <option value = "{{ lookupValue.Value }}">{{ lookupValue.Name}}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                            <p class = "help-block" id = "pNewValue{{ elementAttribute.ElementAttributeId }}"></p>
                        {% else %}
                            <input class = "form-control" id = "inputNewValue{{ elementAttribute.ElementAttributeId }}" value = "">
                            <p class = "help-block" id = "pNewValue{{ elementAttribute.ElementAttributeId }}"></p>
                        {% endif %}
                        </div>
                    </td>
                    <td>
                        <div class = "form-group" id = "divNewTimestamp{{ elementAttribute.ElementAttributeId }}">
                            <input class = "form-control" id = "inputNewTimestamp{{ elementAttribute.ElementAttributeId }}" value = "">
                            <p class = "help-block" id = "pNewTimestamp{{ elementAttribute.ElementAttributeId }}"></p>
                        </div>
                    </td>
                    <td></td>
                    {% if elementAttribute.Tag.TagValues[0] %}
                        {% if elementAttribute.Tag.TagValues[0].TagValueNotes[0] %}
                            {% set noteButtonClass = "btn btn-default has-note" %}
                        {% else %}
                            {% set noteButtonClass = "btn btn-default" %}
                        {% endif %}
                        <td><a class = "{{ noteButtonClass }}" title = "Last Value Notes" href = "{{ url_for("tagValueNotes.listTagValueNotes", 
                                tagValueId = firstTagValue.TagValueId, elementAttributeId = elementAttribute.ElementAttributeId) }}">
                                <span class = "glyphicon glyphicon-comment"></span></a></td>
                        <td><a class = "btn btn-default" title = "Edit Last Value"
                            href = "{{ url_for("tagValues.editTagValue", tagValueId = firstTagValue.TagValueId,
                            elementAttributeId = elementAttribute.ElementAttributeId) }}"><span class = "glyphicon glyphicon-edit"></span></a></td>
                        <td><a class = "btn btn-default" title = "Delete Last Value"
                            href = "{{ url_for("tagValues.deleteTagValue", tagValueId = firstTagValue.TagValueId) }}">
                            <span class = "glyphicon glyphicon-trash"></span></a></td>
                    {% else %}
                        <td></td>
                        <td></td>
                        <td></td>
                    {% endif %}
                </tr>
            {% endfor %#}
        </tbody> -->
    </table>
</div>
<div class = "page-header">
    <h1>Notes <small>{{ eventFrame.origin().Element.Name }}</small></h1>
</div>
<div>
    <a class = "btn btn-default" title = "Add" href = "{{ url_for("eventFrameNotes.addEventFrameNote", eventFrameId = eventFrame.id()) }}" role = "button">
        <span class = "glyphicon glyphicon-plus"></span></a>
    <br><br>
    <table id = "eventFrameNotesTable" class = "table">
        <thead>
            <tr>
                <th>Timestamp</th>
                <th>Note</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for eventFrameNote in eventFrame.EventFrameNotes %}
                <tr>
                    <td>{{ eventFrameNote.Note.Timestamp }}</td>
                    <td>{{ eventFrameNote.Note.Note }}</td>
                    <td><a class = "btn btn-default" title = "Edit" href = "{{ url_for("eventFrameNotes.editEventFrameNote",
                        eventFrameId = eventFrame.EventFrameId, noteId = eventFrameNote.NoteId) }}"><span class = "glyphicon glyphicon-edit"></span></a></td>
                    <td><a class = "btn btn-default" title = "Delete" href = "{{ url_for("eventFrameNotes.deleteEventFrameNote",
                        noteId = eventFrameNote.NoteId, eventFrameId = eventFrameNote.EventFrameId) }}"><span class = "glyphicon glyphicon-trash"></span></a>
                        </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <link rel = "stylesheet" type = "text/css" href = {{ url_for("static", filename = "css/datatables.min.css") }}/> 
    <script type = "text/javascript" src = {{ url_for("static", filename = "js/datatables.min.js") }}></script>
    <script>
        $(document).ready(function()
        {
            $("#childEventFramesTable").DataTable
            ({
                "order":
                [
                    [3, "desc"],             // Start timestamp.
                ],
                "columns":
                [
                    { "orderable": false }, // Select button.
                    null,
                    null,
                    null,
                    null,
                    { "orderable": false }, // Stop button.
                    { "orderable": false }, // Edit button.
                    { "orderable": false }  // Delete button.
                ],
                "stateSave": true,
                "stateDuration": 0,
                "pageLength": 25
            })
            $("#eventFrameNotesTable").DataTable
            ({
                "order":
                [
                    [0, "desc"],             // Timestamp.
                ],
                "columns":
                [
                    null,
                    null,
                    { "orderable": false }, // Edit button.
                    { "orderable": false }  // Delete button.
                ],
                "stateSave": true,
                "stateDuration": 0,
                "pageLength": 25
            })
        })
    </script>
{% endblock %}