{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Event Frame Dashboard
{% endblock %}

{% block page_content %}
<div>
    <ol class = "breadcrumb">
        {#% if eventFrame.ParentEventFrameId %#}
            <li><a href = "{{ url_for("eventFrames.selectEventFrame", selectedClass = "Root") }}">..</a></li>
            <li><a href = "{{ url_for("eventFrames.selectEventFrame", selectedClass = "Enterprise",
                selectedId = eventFrame.origin().EventFrameTemplate.ElementTemplate.Site.Enterprise.id()) }}">
                {{ eventFrame.origin().EventFrameTemplate.ElementTemplate.Site.Enterprise.Name }}</a></li>
            <li><a href = "{{ url_for("eventFrames.selectEventFrame", selectedClass = "Site",
                selectedId = eventFrame.origin().EventFrameTemplate.ElementTemplate.Site.id()) }}">
                {{ eventFrame.origin().EventFrameTemplate.ElementTemplate.Site.Name }}</a></li>
            <li><a href = "{{ url_for("eventFrames.selectEventFrame", selectedClass = "ElementTemplate",
                selectedId = eventFrame.origin().EventFrameTemplate.ElementTemplate.id()) }}">
                {{ eventFrame.origin().EventFrameTemplate.ElementTemplate.Name }}</a></li>
            <li><a href = "{{ url_for("eventFrames.selectEventFrame", selectedClass = "EventFrameTemplate",
                selectedId = eventFrame.origin().EventFrameTemplate.EventFrameTemplateId) }}">{{ eventFrame.origin().EventFrameTemplate.Name }}</a></li>
            {% set eventFrames = eventFrame.ancestors([]) %}
            {% do eventFrames.append(eventFrame) %}
            {% for eventFrame in eventFrames %}
                {% if loop.last %}
                    {% if eventFrame.ParentEventFrameId == None %}
                        <li class = "active">{{ eventFrame.friendlyName() }}</li>
                    {% else %}
                        <li class = "active">{{ eventFrame.EventFrameTemplate.Name }}&nbsp;&nbsp;/&nbsp;&nbsp;{{ eventFrame.friendlyName() }}</li>
                    {% endif %}
                {% else %}
                    {% if eventFrame.ParentEventFrameId == None %}
                        <li><a href = "{{ url_for("eventFrames.dashboard", eventFrameId = eventFrame.EventFrameId) }}">{{ eventFrame.friendlyName() }}</a></li>
                    {% else %}
                        <li><a href = "{{ url_for("eventFrames.dashboard", eventFrameId = eventFrame.EventFrameId) }}">
                            {{ eventFrame.EventFrameTemplate.Name }}&nbsp;&nbsp;/&nbsp;&nbsp;{{ eventFrame.friendlyName() }}</a></li>
                    {% endif %}
                {% endif %}
            {% endfor %}
    </ol>
</div>
<div class = "page-header">
    <h1>Child Event Frames <small>{{ eventFrame.origin().Element.Name }}</small></h1>
</div>
<div>
    <a class = "btn btn-default" title = "Add" href = "{{ url_for("eventFrames.addEventFrame", parentEventFrameId = eventFrame.EventFrameId) }}"
        role = "button"><span class = "glyphicon glyphicon-plus"></span></a>
    <br><br>
    <table id = "childEventFramesTable" class = "table">
        <thead>
            <tr>
                <th></th>
                <th>Template</th>
                <th>Name</th>
                <th>Start</th>
                <th>End</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for eventFrame in eventFrame.EventFrames %}
                <tr>
                    <td><a class = "btn btn-default" title = "Select" href = "{{ url_for("eventFrames.dashboard", eventFrameId = eventFrame.EventFrameId,) }}">
                        <span class = "glyphicon glyphicon-list"></span></a></td>
                    <td>{{ eventFrame.EventFrameTemplate.Name }}</td>
                    <td>{{ eventFrame.friendlyName() }}</td>
                    <td>{{ eventFrame.StartTimestamp }}</td>
                    <td>{{ eventFrame.EndTimestamp }}</td>
                    {% if eventFrame.EndTimestamp == None %}
                        <td><a class = "btn btn-default" title = "End" href = "{{ url_for("eventFrames.endEventFrame",
                            eventFrameId = eventFrame.EventFrameId) }}"><span class = "glyphicon glyphicon-stop"></span></a></td>
                    {% else %}
                        <td></td>
                    {% endif %}
                    <td><a class = "btn btn-default" title = "Edit" href = "{{ url_for("eventFrames.editEventFrame",
                        eventFrameId = eventFrame.EventFrameId) }}"><span class = "glyphicon glyphicon-edit"></span></a></td>
                    <td><a class = "btn btn-default" title = "Delete" href = "{{ url_for("eventFrames.deleteEventFrame",
                        eventFrameId = eventFrame.EventFrameId) }}"><span class = "glyphicon glyphicon-trash"></span></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class = "page-header">
    <h1>Notes <small>{{ eventFrame.origin().Element.Name }}</small></h1>
</div>
<div>
    <a class = "btn btn-default" title = "Add" href = "{{ url_for("eventFrameNotes.addEventFrameNote", eventFrameId = eventFrame.id()) }}" role = "button">
        <span class = "glyphicon glyphicon-plus"></span></a>
    <br><br>
    <table id = "eventFrameNotesTable" class = "table">
        <thead>
            <tr>
                <th>Timestamp</th>
                <th>Note</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for eventFrameNote in eventFrame.EventFrameNotes %}
                <tr>
                    <td>{{ eventFrameNote.Note.Timestamp }}</td>
                    <td>{{ eventFrameNote.Note.Note }}</td>
                    <td><a class = "btn btn-default" title = "Edit" href = "{{ url_for("eventFrameNotes.editEventFrameNote",
                        eventFrameId = eventFrame.EventFrameId, noteId = eventFrameNote.NoteId) }}"><span class = "glyphicon glyphicon-edit"></span></a></td>
                    <td><a class = "btn btn-default" title = "Delete" href = "{{ url_for("eventFrameNotes.deleteEventFrameNote",
                        noteId = eventFrameNote.NoteId, eventFrameId = eventFrameNote.EventFrameId) }}"><span class = "glyphicon glyphicon-trash"></span></a>
                        </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <link rel = "stylesheet" type = "text/css" href = {{ url_for("static", filename = "css/datatables.min.css") }}/> 
    <script type = "text/javascript" src = {{ url_for("static", filename = "js/datatables.min.js") }}></script>
    <script>
        $(document).ready(function()
        {
            $("#childEventFramesTable").DataTable
            ({
                "order":
                [
                    [3, "desc"],             // Start timestamp.
                ],
                "columns":
                [
                    { "orderable": false }, // Select button.
                    null,
                    null,
                    null,
                    null,
                    { "orderable": false }, // Stop button.
                    { "orderable": false }, // Edit button.
                    { "orderable": false }  // Delete button.
                ],
                "stateSave": true,
                "stateDuration": 0,
                "pageLength": 25
            })
            $("#eventFrameNotesTable").DataTable
            ({
                "order":
                [
                    [0, "desc"],             // Timestamp.
                ],
                "columns":
                [
                    null,
                    null,
                    { "orderable": false }, // Edit button.
                    { "orderable": false }  // Delete button.
                ],
                "stateSave": true,
                "stateDuration": 0,
                "pageLength": 25
            })
        })
    </script>
{% endblock %}