{% extends "base.html" %}

{% import "_macros.html" as macros %}

{% block title %}
Event Frames
{% endblock %}

{% block page_content %}
<div>
    <ol class="breadcrumb">
        <li><a href = "{{ url_for("elements.selectElement", className = "root", id = None) }}">..</a></li>
        <li><a href = "{{ url_for("elements.selectElement", className = element.ElementTemplate.Site.Enterprise.__class__.__name__,
            id = element.ElementTemplate.Site.Enterprise.EnterpriseId) }}">{{ element.ElementTemplate.Site.Enterprise.Name }}</a></li>
        <li><a href = "{{ url_for("elements.selectElement", className = element.ElementTemplate.Site.__class__.__name__,
            id = element.ElementTemplate.Site.SiteId) }}">{{ element.ElementTemplate.Site.Name }}</a></li>
        <li><a href = "{{ url_for("elements.selectElement", className = element.ElementTemplate.__class__.__name__,
            id = element.ElementTemplate.ElementTemplateId) }}">{{ element.ElementTemplate.Name }}</a></li>
        <li><a href = "{{ url_for("elements.selectElement", className = element.__class__.__name__,
            id = element.ElementId) }}">{{ element.Name }}</a></li>
        {% if parentEventFrame %}
            <!-- Parent. -->
            {% if parentEventFrame.ParentEventFrameId %}
                <!-- Parent with ancestors. -->
                {% for ancestor in parentEventFrame.ancestors([]) %}
                    {% if ancestor.ParentEventFrameId %}
                        <!-- Ancestor with parent. -->
                        <li class = "active">{{ ancestor.EventFrameTemplate.Name }}</li>                
                    {% else %}
                        <!-- Ancestor with no parent. -->
                        <!-- Top level event frame. -->
                        <li><a href = "{{ url_for("eventFrames.listEventFrames", elementId = element.ElementId,
                            eventFrameTemplateId = ancestor.EventFrameTemplateId) }}">{{ ancestor.EventFrameTemplate.Name }}</a></li>
                    {% endif %}
                    <li><a href = "{{ url_for("eventFrames.listEventFrames", parentEventFrameId = ancestor.EventFrameId) }}">
                        {{ ancestor.StartTimestamp.strftime("%m/%d/%y %H:%m") }}</a></li>
                {% endfor %}
                <li class = "active">{{ parentEventFrame.EventFrameTemplate.Name }}</li>                
                <li class = "active">{{ parentEventFrame.StartTimestamp.strftime("%m/%d/%y %H:%m") }}</li>
            {% else %}
                <!-- Parent with no ancestors. -->
                <!-- Top level event frame. -->
                <li><a href = "{{ url_for("eventFrames.listEventFrames", elementId = element.ElementId,
                    eventFrameTemplateId = eventFrameTemplate.EventFrameTemplateId) }}">{{ eventFrameTemplate.Name }}</a></li>
                <li class = "active">{{ parentEventFrame.StartTimestamp.strftime("%m/%d/%y %H:%m") }}</li>                
            {% endif %}
        {% else %}
            <!-- No parent. -->
            <li class = "active">{{ eventFrameTemplate.Name }}</li>
        {% endif %}
    </ol>
    <h1>{{ element.Name }}</h1>
    {% if parentEventFrame %}
        {% set url = url_for("eventFrames.addEventFrame", parentEventFrameId = parentEventFrame.EventFrameId) %}
    {% else %}
        {% set url = url_for("eventFrames.addEventFrame", elementId = element.ElementId, eventFrameTemplateId = eventFrameTemplate.EventFrameTemplateId) %}
    {% endif %}
    <a class = "btn btn-default" title = "Add" href = "{{ url }}" role = "button"><span class="glyphicon glyphicon-plus"></a>
    <table class = "table">
        <thead>
            <tr>
                <th></th>
                <th>Event Frame</th>
                <th>Name</th>
                <th>Start Timestamp</th>
                <th>End Timestamp</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for eventFrame in eventFrames %}
                <tr>
                    {% if eventFrame.EventFrameTemplate.EventFrameTemplates %}
                        <td><a class = "btn btn-default" title = "Child Event Frames"
                            href = "{{ url_for("eventFrames.listEventFrames", parentEventFrameId = eventFrame.EventFrameId) }}">
                            <span class="glyphicon glyphicon-list"></span>
                            </a></td>
                    {% else %}
                        <td></td>
                    {% endif %}
                    <td>{{ eventFrame.EventFrameTemplate.Name }}</td>
                    <td>{{ eventFrame.Name }}</td>
                    <td>{{ eventFrame.StartTimestamp }}</td>
                    {% if eventFrame.EndTimestamp %}
                        <td>{{ eventFrame.EndTimestamp }}</td>
                    {% else %}
                        <td></td>
                    {% endif %}
                    {% if eventFrame.EndTimestamp == None %}
                        <td><a class = "btn btn-default" title = "End" href = "{{ url_for("eventFrames.endEventFrame",
                            eventFrameId = eventFrame.EventFrameId) }}"><span class="glyphicon glyphicon-stop"></span></a></td>
                    {% else %}
                        <td></td>
                    {% endif %}
                    <td><a class = "btn btn-default" title = "Edit" href = "{{ url_for("eventFrames.editEventFrame",
                        eventFrameId = eventFrame.EventFrameId) }}"><span class="glyphicon glyphicon-edit"></a></td>
                    <td><a class = "btn btn-default" title = "Delete" href = "{{ url_for("eventFrames.deleteEventFrame",
                        eventFrameId = eventFrame.EventFrameId) }}"><span class="glyphicon glyphicon-trash"></a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% if pagination %}
<div class = "text-right">
    {% if parentEventFrame %}
        {{ macros.pagination_widget(pagination, ".listEventFrames", parentEventFrameId = parentEventFrame.EventFrameId) }}
    {% else %}
        {{ macros.pagination_widget(pagination, ".listEventFrames", elementId = element.ElementId, eventFrameTemplateId = element.ElementTemplate.ElementTemplateId) }}
    {% endif %}
</div>
{% endif %}
{% endblock %}
