{% extends "base.html" %}

{% block title %}
Event Frames
{% endblock %}

{% block page_content %}
<div>
    <ol class="breadcrumb">
        <li><a href = "{{ url_for("elements.selectElement", className = element.ElementTemplate.Site.Enterprise.__class__.__name__,
            id = element.ElementTemplate.Site.Enterprise.EnterpriseId) }}">{{ element.ElementTemplate.Site.Enterprise.Name }}</a></li>
        <li><a href = "{{ url_for("elements.selectElement", className = element.ElementTemplate.Site.__class__.__name__,
            id = element.ElementTemplate.Site.SiteId) }}">{{ element.ElementTemplate.Site.Name }}</a></li>
        <li><a href = "{{ url_for("elements.selectElement", className = element.ElementTemplate.__class__.__name__,
            id = element.ElementTemplate.ElementTemplateId) }}">{{ element.ElementTemplate.Name }}</a></li>
        <li><a href = "{{ url_for("elements.selectElement", className = element.__class__.__name__,
            id = element.ElementId) }}">{{ element.Name }}</a></li>
        <li class = "active">{{ eventFrameTemplate.Name }}</li>
    </ol>
    <h1>{{ element.Name }}</h1>
    <h2>{{ eventFrameTemplate.Name }} Event Frames</h2>
    <a class = "btn btn-default" title = "Add" href = "{{ url_for("eventFrames.addEventFrame", elementId = element.ElementId,
        eventFrameTemplateId = eventFrameTemplate.EventFrameTemplateId) }}" role = "button"><span class="glyphicon glyphicon-plus"></a>
    <table class = "table">
        <thead>
            <tr>
                <th>Start Timestatmp</th>
                <th>End Timestamp</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for eventFrame in eventFrames %}
                <tr>
                    <td>{{ eventFrame.StartTimestamp }}</td>
                    {% if eventFrame.EndTimestamp %}
                        <td>{{ eventFrame.EndTimestamp }}</td>
                    {% else %}
                        <td></td>
                    {% endif %}
                    <td><a class = "btn btn-default" title = "Child Event Frames"
                        href = "{{ url_for("eventFrames.listChildEventFrames", parentEventFrameId = eventFrame.EventFrameId) }}">
                        <span class="glyphicon glyphicon-list"></span>
                        </a></td>
                    <td><a class = "btn btn-default" title = "Edit" href = "{{ url_for("eventFrames.editEventFrame",
                        eventFrameId = eventFrame.EventFrameId) }}"><span class="glyphicon glyphicon-edit"></a></td>
                    <td><a class = "btn btn-default" title = "Delete" href = "{{ url_for("eventFrames.deleteEventFrame",
                        eventFrameId = eventFrame.EventFrameId) }}"><span class="glyphicon glyphicon-trash"></a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
