{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Event Frames
{% endblock %}

{% block page_content %}
<div>
    <ol class="breadcrumb">
        {% if childrenClass == "Enterprise" %}
            <li class = "active">..</li>
            {% set tableHeader = "Enterprise" %}
            {% set pageHeaderSubText = "Enterprises" %}
        {% elif childrenClass == "Site" %}
            <li><a href = "{{ url_for("eventFrames.selectEventFrame", selectedClass = "Root") }}">..</a></li>
            <li class = "active">{{ parent.Name }}</li>
            {% set tableHeader = "Site" %}
            {% set pageHeaderSubText = "Sites" %}
        <!-- "and parent" checks for systems that have not been configured with a site yet. -->
        {% elif childrenClass == "ElementTemplate" and parent %}
            <li><a href = "{{ url_for("eventFrames.selectEventFrame", selectedClass = "Root") }}">..</a></li>
            <li><a href = "{{ url_for("eventFrames.selectEventFrame", selectedClass = "Enterprise",
                selectedId = parent.Enterprise.id()) }}">{{ parent.Enterprise.Name }}</a></li>
            <li class = "active">{{ parent.Name }}</li>
            {% set tableHeader = "Element Template" %}
            {% set pageHeaderSubText = "Element Templates" %}
        {% elif childrenClass == "EventFrameTemplate" %}
            <li><a href = "{{ url_for("eventFrames.selectEventFrame", selectedClass = "Root") }}">..</a></li>
            <li><a href = "{{ url_for("eventFrames.selectEventFrame", selectedClass = "Enterprise",
                selectedId = parent.Site.Enterprise.id()) }}">{{ parent.Site.Enterprise.Name }}</a></li>
            <li><a href = "{{ url_for("eventFrames.selectEventFrame", selectedClass = "Site",
                selectedId = parent.Site.id()) }}">{{ parent.Site.Name }}</a></li>
            <li class = "active">{{ parent.Name }}</li>
            {% set tableHeader = "Event Frame Template" %}
            {% set pageHeaderSubText = "Event Frame Templates" %}
        {% elif childrenClass == "EventFrame" %}
            <li><a href = "{{ url_for("eventFrames.selectEventFrame", selectedClass = "Root") }}">..</a></li>
            <li><a href = "{{ url_for("eventFrames.selectEventFrame", selectedClass = "Enterprise",
                selectedId = parent.ElementTemplate.Site.Enterprise.id()) }}">{{ parent.ElementTemplate.Site.Enterprise.Name }}</a></li>
            <li><a href = "{{ url_for("eventFrames.selectEventFrame", selectedClass = "Site",
                selectedId = parent.ElementTemplate.Site.id()) }}">{{ parent.ElementTemplate.Site.Name }}</a></li>
            <li><a href = "{{ url_for("eventFrames.selectEventFrame", selectedClass = "ElementTemplate",
                selectedId = parent.ElementTemplate.id()) }}">{{ parent.ElementTemplate.Name }}</a></li>
            <li class = "active">{{ parent.Name }}</li>
            {% set tableHeader = "Event Frame" %}
            {% set pageHeaderSubText = "" %}
        {% endif %}
        <!-- {#% elif childrenClass == "Element" %}
            <li><a href = "{{ url_for("eventFrames.selectEventFrame", selectedClass = "Root") }}">..</a></li>
            <li><a href = "{{ url_for("eventFrames.selectEventFrame", selectedClass = "Enterprise",
                selectedId = parent.Site.Enterprise.id()) }}">{{ parent.Site.Enterprise.Name }}</a></li>
            <li><a href = "{{ url_for("eventFrames.selectEventFrame", selectedClass = "Site",
                selectedId = parent.Site.id()) }}">{{ parent.Site.Name }}</a></li>
            <li class = "active">{{ parent.Name }}</li>
            {% set tableHeader = "Element" %}
            {% set pageHeaderSubText = "Elements" %}
        {% elif childrenClass == "EventFrameTemplate" %}
            <li><a href = "{{ url_for("eventFrames.selectEventFrame", selectedClass = "Root") }}">..</a></li>
            <li><a href = "{{ url_for("eventFrames.selectEventFrame", selectedClass = "Enterprise",
                selectedId = parent.ElementTemplate.Site.Enterprise.id()) }}">{{ parent.ElementTemplate.Site.Enterprise.Name }}</a></li>
            <li><a href = "{{ url_for("eventFrames.selectEventFrame", selectedClass = "Site",
                selectedId = parent.ElementTemplate.Site.id()) }}">{{ parent.ElementTemplate.Site.Name }}</a></li>
            <li><a href = "{{ url_for("eventFrames.selectEventFrame", selectedClass = "ElementTemplate",
                selectedId = parent.ElementTemplate.id()) }}">{{ parent.ElementTemplate.Name }}</a></li>
            <li class = "active">{{ parent.Name }}</li>
            {% set tableHeader = "Event Frame Template" %}
            {% set pageHeaderSubText = "Event Frame Templates" %}
        {% elif childrenClass == "EventFrame" %}
            <li><a href = "{{ url_for("eventFrames.selectEventFrame", selectedClass = "Root") }}">..</a></li>
            <li><a href = "{{ url_for("eventFrames.selectEventFrame", selectedClass = "Enterprise",
                selectedId = parent.ElementTemplate.Site.Enterprise.id()) }}">{{ parent.ElementTemplate.Site.Enterprise.Name }}</a></li>
            <li><a href = "{{ url_for("eventFrames.selectEventFrame", selectedClass = "Site",
                selectedId = parent.ElementTemplate.Site.id()) }}">{{ parent.ElementTemplate.Site.Name }}</a></li>
            <li><a href = "{{ url_for("eventFrames.selectEventFrame", selectedClass = "ElementTemplate",
                selectedId = parent.ElementTemplate.id()) }}">{{ parent.ElementTemplate.Name }}</a></li>
            <li><a href = "{{ url_for("eventFrames.selectEventFrame", selectedClass = "Element",
                selectedId = element.ElementId) }}">{{ element.Name }}</a></li>
            <li class = "active">{{ parent.Name }}</li>
            {% set tableHeader = "Event Frame" %}
            {% set pageHeaderSubText = "" %}
        {% endif %#} -->
    </ol>
</div>
<div class = "page-header">
    <h1>Event Frames <small>{{ pageHeaderSubText }}</small></h1>
</div>
<div>
    {% if childrenClass == "EventFrameTemplate" %}
        <a class = "btn btn-default" title = "Add" href = "{{ url_for("eventFrameTemplates.addEventFrameTemplate", elementTemplateId = parent.id()) }}"
            role = "button"><span class="glyphicon glyphicon-plus"></span></a>
    {% elif childrenClass == "DescendantEventFrameTemplate" %}
    {% elif childrenClass == "EventFrame" %}
        <a class = "btn btn-default" title = "Add" href = "{{ url_for("eventFrames.addEventFrame", eventFrameTemplateId = parent.id()) }}" role = "button">
            <span class="glyphicon glyphicon-plus"></span></a>
    {% endif %}
    <br><br>
    <table id = "table" class = "table">
        <thead>
            <tr>
                <th></th>
                <th>{{ tableHeader }}</th>
                {% if childrenClass == "Enterprise" or childrenClass == "Site" or childrenClass == "ElementTemplate" %}
                    <th>Description</th>
                {% elif childrenClass == "EventFrameTemplate" %}
                    <th>Description</th>
                    <th></th>
                    <th></th>
                    <th></th>
                {% elif childrenClass == "EventFrame" %}
                    <th>Element</th>
                    <th>Start Timestamp</th>
                    <th>End Timestamp</th>
                    <th></th>
                    <th></th>
                    <th></th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% if children %}
                {% for child in children %}
                    <tr>
                        {% if childrenClass == "EventFrame" %}
                            <td><a class = "btn btn-default" title = "Select" href = "{{ url_for("eventFrames.dashboard", eventFrameId = child.id(),) }}">
                                <span class="glyphicon glyphicon-list"></span></a></td>
                        {% else %}
                            <td><a class = "btn btn-default" title = "Select" href = "{{ url_for("eventFrames.selectEventFrame",
                                selectedClass = child.__class__.__name__, selectedId = child.id()) }}"><span class="glyphicon glyphicon-list"></span></a></td>
                        {% endif %}
                        {% if childrenClass == "Enterprise" or childrenClass == "Site" or childrenClass == "ElementTemplate" %}
                            <td>{{ child.Name }}</td>
                            <td>{{ child.Description }}</td>
                        {% elif childrenClass == "EventFrameTemplate" %}
                            <td>{{ child.Name }}</td>
                            <td>{{ child.Description }}</td>
                            <td><a class = "btn btn-default" title = "Edit" href = "{#{ url_for("eventFrameTemplates.editEventFrameTemplate",
                                eventFrameTemplateId = child.id()) }#}"><span class="glyphicon glyphicon-link"></span></a></td>
                            <td><a class = "btn btn-default" title = "Edit" href = "{{ url_for("eventFrameTemplates.editEventFrameTemplate",
                                eventFrameTemplateId = child.id()) }}"><span class="glyphicon glyphicon-edit"></span></a></td>
                            <td><a class = "btn btn-default" title = "Delete" href = "{{ url_for("eventFrameTemplates.deleteEventFrameTemplate",
                                eventFrameTemplateId = child.id()) }}"><span class="glyphicon glyphicon-trash"></span></a></td>                        
                        {% elif childrenClass == "EventFrame" %}
                            <td>{{ child.friendlyName() }}</td>
                            <td>{{ child.Element.Name }}</td>
                            <td>{{ child.StartTimestamp }}</td>
                            <td>{{ child.EndTimestamp }}</td>
                            <td><a class = "btn btn-default" title = "End" href = "{{ url_for("eventFrames.endEventFrame",
                                eventFrameId = child.id()) }}"><span class="glyphicon glyphicon-stop"></span></a></td>
                            <td><a class = "btn btn-default" title = "Edit" href = "{{ url_for("eventFrames.editEventFrame", eventFrameId = child.id()) }}">
                                <span class="glyphicon glyphicon-edit"></span></a></td>
                            <td></td>
                        {% endif %}
                        <!-- {#% if childrenClass == "EventFrame" %}
                            <td><a class = "btn btn-default" title = "Select" href = "{{ url_for("eventFrames.dashboard", eventFrameId = child.id(),
                                selectedEventFrameTemplateId = child.EventFrameTemplateId) }}"><span class="glyphicon glyphicon-list"></span></a></td>
                        {% else %}
                            <td><a class = "btn btn-default" title = "Select" href = "{{ url_for("eventFrames.selectEventFrame",
                                selectedClass = child.__class__.__name__, selectedId = child.id()) }}"><span class="glyphicon glyphicon-list"></span></a></td>
                        {% endif %}
                        {% if childrenClass == "EventFrame" %}
                            {% set name = child.friendlyName() %}
                        {% else %}
                            {% set name = child.Name %}
                        {% endif %}
                        <td>{{ name }}</td>
                        {% if childrenClass == "EventFrame" %}
                            <td>{{ child.Element.Name }}</td>
                            <td>{{ child.StartTimestamp }}</td>
                            <td>{{ child.EndTimestamp }}</td>
                        {% else %}
                            <td>{{ child.Description }}</td>
                        {% endif %#} -->
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <link rel = "stylesheet" type = "text/css" href = {{ url_for("static", filename = "css/datatables.min.css") }}/> 
    <script type = "text/javascript" src = {{ url_for("static", filename = "js/datatables.min.js") }}></script>
    <script>
        $(document).ready(function()
        {
            $('#table').DataTable
            ({
                "order":
                [
                    {% if childrenClass == "Enterprise" or childrenClass == "Site" or childrenClass == "ElementTemplate" %}
                        [1, "asc"]              // Name.
                    {% elif childrenClass == "EventFrameTemplate" %}
                        [1, "asc"]              // Name.
                    {% elif childrenClass == "EventFrame" %}
                        [3, "desc"]             // Start timestamp.
                    {% endif %}
                ],
                "columns":
                [
                    { "orderable": false },     // Select button.
                    {% if childrenClass == "Enterprise" or childrenClass == "Site" or childrenClass == "ElementTemplate" %}
                        null,
                        null
                    {% elif childrenClass == "EventFrameTemplate" %}
                        null,
                        null,
                        { "orderable": false }, // Associate button.
                        { "orderable": false }, // Edit button.
                        { "orderable": false }  // Delete button.
                    {% elif childrenClass == "EventFrame" %}
                        null,
                        null,
                        null,
                        null,
                        { "orderable": false }, // Stop button.
                        { "orderable": false }, // Edit button.
                        { "orderable": false }  // Delete button.
                    {% endif %}
                ],
                "stateSave": true,
                "stateDuration": 0,
                "pageLength": 25
            })
        })
    </script>
{% endblock %}
