{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Event Frames
{% endblock %}

{% block page_content %}
<div>
    <ol class = "breadcrumb">
        {% if childrenClass == "Enterprise" %}
            <li class = "active"><span class = "glyphicon glyphicon-home"></span></li>
            {% set pageHeaderSubText = "Enterprises" %}
        {% elif childrenClass == "Site" %}
            <li><a href = "{{ url_for("eventFrames.selectEventFrame", selectedClass = "Root") }}"><span class = "glyphicon glyphicon-home"></span></a></li>
            <li class = "active">{{ parent.Name }}</li>
            {% set pageHeaderSubText = "Sites" %}
        <!-- "and parent" checks for systems that have not been configured with a site yet. -->
        {% elif childrenClass == "ElementTemplate" and parent %}
            <li><a href = "{{ url_for("eventFrames.selectEventFrame", selectedClass = "Root") }}"><span class = "glyphicon glyphicon-home"></span></a></li>
            <li><a href = "{{ url_for("eventFrames.selectEventFrame", selectedClass = "Enterprise",
                selectedId = parent.Enterprise.id()) }}">{{ parent.Enterprise.Name }}</a></li>
            <li class = "active">{{ parent.Name }}</li>
            {% set pageHeaderSubText = "Element Templates" %}
        {% elif childrenClass == "EventFrameTemplate" %}
            <li><a href = "{{ url_for("eventFrames.selectEventFrame", selectedClass = "Root") }}"><span class = "glyphicon glyphicon-home"></span></a></li>
            <li><a href = "{{ url_for("eventFrames.selectEventFrame", selectedClass = "Enterprise",
                selectedId = parent.Site.Enterprise.id()) }}">{{ parent.Site.Enterprise.Name }}</a></li>
            <li><a href = "{{ url_for("eventFrames.selectEventFrame", selectedClass = "Site",
                selectedId = parent.Site.id()) }}">{{ parent.Site.Name }}</a></li>
            <li class = "active">{{ parent.Name }}</li>
            {% set pageHeaderSubText = "Event Frame Templates" %}
        {% elif childrenClass == "EventFrame" %}
            <li><a href = "{{ url_for("eventFrames.selectEventFrame", selectedClass = "Root") }}"><span class = "glyphicon glyphicon-home"></span></a></li>
            <li><a href = "{{ url_for("eventFrames.selectEventFrame", selectedClass = "Enterprise",
                selectedId = parent.ElementTemplate.Site.Enterprise.id()) }}">{{ parent.ElementTemplate.Site.Enterprise.Name }}</a></li>
            <li><a href = "{{ url_for("eventFrames.selectEventFrame", selectedClass = "Site",
                selectedId = parent.ElementTemplate.Site.id()) }}">{{ parent.ElementTemplate.Site.Name }}</a></li>
            <li><a href = "{{ url_for("eventFrames.selectEventFrame", selectedClass = "ElementTemplate",
                selectedId = parent.ElementTemplate.id()) }}">{{ parent.ElementTemplate.Name }}</a></li>
            <li class = "active">{{ parent.Name }}</li>
            {% set pageHeaderSubText = "" %}
        {% elif childrenClass == "DescendantEventFrameTemplate" %}
            {% set origin = parent.origin() %}
            <li><a href = "{{ url_for("eventFrames.selectEventFrame", selectedClass = "Root") }}"><span class = "glyphicon glyphicon-home"></span></a></li>
            <li><a href = "{{ url_for("eventFrames.selectEventFrame", selectedClass = "Enterprise",
                selectedId = origin.ElementTemplate.Site.Enterprise.id()) }}">{{ origin.ElementTemplate.Site.Enterprise.Name }}</a></li>
            <li><a href = "{{ url_for("eventFrames.selectEventFrame", selectedClass = "Site",
                selectedId = origin.ElementTemplate.Site.id()) }}">{{ origin.ElementTemplate.Site.Name }}</a></li>
            <li><a href = "{{ url_for("eventFrames.selectEventFrame", selectedClass = "ElementTemplate",
                selectedId = origin.ElementTemplate.id()) }}">{{ origin.ElementTemplate.Name }}</a></li>
            {% for ancestor in parent.ancestors([]) %}
                <li><a href = "{{ url_for("eventFrames.selectEventFrame", selectedClass = "EventFrameTemplate", selectedId = ancestor.id(),
                    selectedOperation = "configure") }}">{{ ancestor.Name }}</a></li>
            {% endfor %}
            <li class = "active">{{ parent.Name }}</li>
            {% set pageHeaderSubText = "Child Event Frame Templates" %}
        {% endif %}
    </ol>
</div>
<div class = "page-header">
    <h1>Event Frames <small>{{ pageHeaderSubText }}</small>
        {% if childrenClass == "EventFrame" %}
            <a class = 'btn btn-primary btn-xs {{ "active" if months == 1 }}' title = "1 Mo" href = '{{ url_for("eventFrames.selectEventFrame",
                selectedClass = "EventFrameTemplate", selectedId = parent.id(), months = 1) }}' role = "button">1 Mo</a>
            <a class = 'btn btn-primary btn-xs {{ "active" if months == 2 }}' title = "2 Mo" href = '{{ url_for("eventFrames.selectEventFrame",
                selectedClass = "EventFrameTemplate", selectedId = parent.id(), months = 2) }}' role = "button">2 Mo</a>
            <a class = 'btn btn-primary btn-xs {{ "active" if months == 3 }}' title = "3 Mo" href = '{{ url_for("eventFrames.selectEventFrame",
                selectedClass = "EventFrameTemplate", selectedId = parent.id(), months = 3) }}' role = "button">3 Mo</a>
            <a class = 'btn btn-primary btn-xs {{ "active" if months == 6 }}' title = "6 Mo" href = '{{ url_for("eventFrames.selectEventFrame",
                selectedClass = "EventFrameTemplate", selectedId = parent.id(), months = 6) }}' role = "button">6 Mo</a>
            <a class = 'btn btn-primary btn-xs {{ "active" if months == 9 }}' title = "9 Mo" href = '{{ url_for("eventFrames.selectEventFrame",
                selectedClass = "EventFrameTemplate", selectedId = parent.id(), months = 9) }}' role = "button">9 Mo</a>
            <a class = 'btn btn-primary btn-xs {{ "active" if months == 12 }}' title = "1 Yr" href = '{{ url_for("eventFrames.selectEventFrame",
                selectedClass = "EventFrameTemplate", selectedId = parent.id(), months = 12) }}' role = "button">1 Yr</a>
            <a class = 'btn btn-primary btn-xs {{ "active" if months == 0 }}' title = "All" href = '{{ url_for("eventFrames.selectEventFrame",
                selectedClass = "EventFrameTemplate", selectedId = parent.id(), months = 0) }}' role = "button">All</a>
        {% endif %}
    </h1>
</div>
<div>
    {% if childrenClass == "ElementTemplate" %}
        <a class = "btn btn-default" title = "Grafana" href = "{{ "ActiveEventFrameSummary" | grafanaUrl({"siteId": parent.id()}) }}"
            target = "_blank"><span class = "glyphicon glyphicon-stats"></span></a>
        <br><br>
    {% elif childrenClass == "EventFrameTemplate" %}
        {% if current_user.isAdministrator() %}
            <a class = "btn btn-default" title = "Add" href = "{{ url_for("eventFrameTemplates.addEventFrameTemplate", elementTemplateId = parent.id()) }}"
                role = "button"><span class = "glyphicon glyphicon-plus"></span></a>
        {% endif %}
        <a class = "btn btn-default" title = "Grafana" href = "{{ "ActiveEventFrameSummary" | grafanaUrl({"elementTemplateId": parent.id()}) }}"
            target = "_blank"><span class = "glyphicon glyphicon-stats"></span></a>
        <br><br>
    {% elif childrenClass == "EventFrame" %}
        <a class = "btn btn-default" title = "Add" href = "{{ url_for("eventFrames.addEventFrame", eventFrameTemplateId = parent.id()) }}" role = "button">
            <span class = "glyphicon glyphicon-plus"></span></a>
        <a class = "btn btn-default" title = "Grafana" href = "{{ "ActiveEventFrameSummary" | grafanaUrl({"eventFrameTemplateId": parent.id()}) }}"
            target = "_blank"><span class = "glyphicon glyphicon-stats"></span></a>
        <br><br>
        Toggle Column:
        <button type = "button" class = "btn btn-primary btn-xs" id = "buttonHideAllColumns">Hide All</button>
        {% for eventFrameAttributeTemplate in parent.EventFrameAttributeTemplates %}
            {% set dataColumnIndex = loop.index + 9 %}
            <button type = "button" class = "btn btn-primary btn-xs" data-columnIndex = "{{ dataColumnIndex }}"
                id = "buttonToggleColumn{{ eventFrameAttributeTemplate.Name }}">{{ eventFrameAttributeTemplate.Name }}</button>
        {% endfor %}
        <button type = "button" class = "btn btn-primary btn-xs" id = "buttonShowAllColumns">Show All</button>
        <br><br>
    {% elif childrenClass == "DescendantEventFrameTemplate" %}
        <a class = "btn btn-default" title = "Add" href = "{{ url_for("eventFrameTemplates.addEventFrameTemplate",
            parentEventFrameTemplateId = parent.id()) }}" role = "button"><span class = "glyphicon glyphicon-plus"></span></a>
        <br><br>
    {% endif %}
    <table id = "table" class = "table" style = "display:none">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th>Name</th>
                {% if childrenClass == "Enterprise" or childrenClass == "Site" or childrenClass == "ElementTemplate" %}
                    <th>Description</th>
                {% elif childrenClass == "EventFrameTemplate" %}
                    <th>Description</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                {% elif childrenClass == "EventFrame" %}
                    <th>Element</th>
                    <th id = "thStartTimestamp">Start Timestamp</th>
                    <th id = "thEndTimestamp">End Timestamp</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    {% for eventFrameAttributeTemplate in parent.EventFrameAttributeTemplates %}
                        <th>{{ eventFrameAttributeTemplate.Name }}</th>
                    {% endfor %}
                {% elif childrenClass == "DescendantEventFrameTemplate" %}
                    <th>Description</th>
                    <th>Order</th>
                    <th></th>
                    <th></th>
                    <th></th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% if children %}
                {% for child in children %}
                    <tr>
                        {% if childrenClass == "EventFrame" %}
                            <td><a class = "btn btn-default" title = "Select" href = "{{ url_for("eventFrames.dashboard", eventFrameId = child.id(),) }}">
                                <span class = "glyphicon glyphicon-list"></span></a></td>
                            <td><a class = "btn btn-default" title = "Grafana" href = "{{ "EventFramesGraph" | grafanaUrl({"eventFrameId": child.id()}) }}"
                                target = "_blank"><span class = "glyphicon glyphicon-stats"></span></a></td>
                        {% elif childrenClass == "DescendantEventFrameTemplate" %}
                            <td><a class = "btn btn-default" title = "Select" href = "{{ url_for("eventFrames.selectEventFrame",
                                selectedClass = child.__class__.__name__, selectedId = child.id(),
                                selectedOperation = "configure") }}"><span class = "glyphicon glyphicon-list"></span></a></td>
                            <td></td>
                        {% else %}
                            <td><a class = "btn btn-default" title = "Select" href = "{{ url_for("eventFrames.selectEventFrame",
                                selectedClass = child.__class__.__name__, selectedId = child.id()) }}"><span class = "glyphicon glyphicon-list"></span></a></td>
                            <td></td>
                        {% endif %}
                        {% if childrenClass == "Enterprise" or childrenClass == "Site" or childrenClass == "ElementTemplate" %}
                            <td>{{ child.Name }}</td>
                            <td>{{ child.Description }}</td>
                        {% elif childrenClass == "EventFrameTemplate" %}
                            <td>{{ child.Name }}</td>
                            <td>{{ child.Description }}</td>
                            {% if current_user.isAdministrator() %}
                                <td><a class = "btn btn-default" title = "Configure" href = "{{ url_for("eventFrames.selectEventFrame",
                                    selectedClass = "EventFrameTemplate", selectedId = child.id(), selectedOperation = "configure") }}">
                                    <span class = "glyphicon glyphicon-wrench"></span></a></td>
                            {% else %}
                                <td></td>
                            {% endif %}
                            <td><a class = "btn btn-default" title = "Overlay" href = "{{ url_for("eventFrames.overlay",
                                eventFrameTemplateId = child.id()) }}"><span class = "glyphicon glyphicon-random"></span></a></td>
                            {% if current_user.isAdministrator() %}
                                <td><a class = "btn btn-default" title = "Edit" href = "{{ url_for("eventFrameTemplates.editEventFrameTemplate",
                                    eventFrameTemplateId = child.id()) }}"><span class = "glyphicon glyphicon-edit"></span></a></td>
                                <td><a class = "btn btn-default" title = "Delete" href = "{{ url_for("eventFrameTemplates.deleteEventFrameTemplate",
                                    eventFrameTemplateId = child.id()) }}", data-type = "event frame template", data-name = "{{ child.Name }}">
                                    <span class = "glyphicon glyphicon-trash"></span></a></td>
                            {% else %}
                                <td></td>
                                <td></td>
                            {% endif %}
                        {% elif childrenClass == "EventFrame" %}
                            <td>{{ child.Name }}</td>
                            <td>{{ child.Element.Name }}</td>
                            <td>{{ moment(child.StartTimestamp).format("YYYY-MM-DD HH:mm:ss") }}</td>
                            {% if child.EndTimestamp %}
                                <td>{{ moment(child.EndTimestamp).format("YYYY-MM-DD HH:mm:ss") }}</td>
                            {% else %}
                                <td></td>
                            {% endif %}
                            {% if current_user.isAdministrator() %}
                                <td><a class = "btn btn-default" title = "Associate Attributes with Tags"
                                    href = "{{ url_for("eventFrameAttributes.listEventFrameAttributes", eventFrameId = child.id()) }}">
                                    <span class = "glyphicon glyphicon-link"></span></a></td>
                            {% else %}
                                <td></td>
                            {% endif %}
                            {% if child.EndTimestamp == None %}
                                <td><a class = "btn btn-default" title = "End" href = "{{ url_for("eventFrames.endEventFrame",
                                    eventFrameId = child.id()) }}"><span class = "glyphicon glyphicon-stop"></span></a></td>
                            {% else %}
                                <td></td>
                            {% endif %}
                            <td><a class = "btn btn-default" title = "Edit" href = "{{ url_for("eventFrames.editEventFrame", eventFrameId = child.id()) }}">
                                <span class = "glyphicon glyphicon-edit"></span></a></td>
                            <td><a class = "btn btn-default" title = "Delete" href = "{{ url_for("eventFrames.deleteEventFrame", eventFrameId = child.id()) }}",
                                data-type = "event frame", data-name = "{{ child.Name }}"><span class = "glyphicon glyphicon-trash"></span></a></td>
                            {% set currentEventFrameAttributeValues = child.currentEventFrameAttributeValues() %}
                            {% for eventFrameAttributeTemplate in child.EventFrameTemplate.EventFrameAttributeTemplates %}
                                <td>{{ currentEventFrameAttributeValues[eventFrameAttributeTemplate.Name] }}</td>
                            {% endfor %}
                            {% elif childrenClass == "DescendantEventFrameTemplate" %}
                            <td>{{ child.Name }}</td>
                            <td>{{ child.Description }}</td>
                            <td>{{ child.Order }}</td>
                            <td><a class = "btn btn-default" title = "Edit" href = "{{ url_for("eventFrameTemplates.editEventFrameTemplate",
                                eventFrameTemplateId = child.id()) }}"><span class = "glyphicon glyphicon-edit"></span></a></td>
                            <td><a class = "btn btn-default" title = "Delete" href = "{{ url_for("eventFrameTemplates.deleteEventFrameTemplate",
                                eventFrameTemplateId = child.id()) }}", data-type = "child event frame template", data-name = "{{ child.Name }}">
                                <span class = "glyphicon glyphicon-trash"></span></a></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
</div>
{% if childrenClass == "DescendantEventFrameTemplate" %}
    <div class = "page-header">
        <h1>Event Frames <small>Attribute Templates</small></h1>
    </div>
    <div>
        <a class = "btn btn-default" title = "Add" href = "{{ url_for("eventFrameAttributeTemplates.addEventFrameAttributeTemplate", 
            eventFrameTemplateId = parent.EventFrameTemplateId) }}" role = "button"><span class = "glyphicon glyphicon-plus"></span></a>
        <br><br>
        <table id = "eventFrameAttributeTemplatesTable" class = "table" style = "width:100%">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for eventFrameAttributeTemplate in eventFrameAttributeTemplates %}
                <tr>
                    <td>{{ eventFrameAttributeTemplate.Name }}</td>
                    <td>{{ eventFrameAttributeTemplate.Description }}</td>
                    <td><a class = "btn btn-default" title = "Edit" href = "{{ url_for("eventFrameAttributeTemplates.editEventFrameAttributeTemplate",
                        eventFrameAttributeTemplateId = eventFrameAttributeTemplate.EventFrameAttributeTemplateId) }}">
                        <span class = "glyphicon glyphicon-edit"></span></a></td>
                    <td><a class = "btn btn-default" title = "Delete" href = "{{ url_for("eventFrameAttributeTemplates.deleteEventFrameAttributeTemplate",
                        eventFrameAttributeTemplateId = eventFrameAttributeTemplate.EventFrameAttributeTemplateId) }}",
                        data-type = "event frame attribute template", data-name = "{{ eventFrameAttributeTemplate.Name }}">
                        <span class = "glyphicon glyphicon-trash"></span></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    <link rel = "stylesheet" type = "text/css" href = {{ url_for("static", filename = "css/datatables.min.css") }}/> 
    <script type = "text/javascript" src = {{ url_for("static", filename = "js/datatables.min.js") }}></script>
    <script>
        $(document).ready(function()
        {
            {% if childrenClass == "EventFrame" %}
                $("#table thead tr").clone(true).appendTo("#table thead")
                $("#table thead tr:eq(1) th").each(function(i)
                {
                    var id = $(this).attr("id")
                    var title = $(this).text()
                    if (title != "" && id != "thStartTimestamp" && id != "thEndTimestamp")
                    {
                        $(this).html('<input type = "text" placeholder = "Filter ' + title + '" />')
                        $("input", this).on("keyup change", function ()
                        {
                            if (table.column(i).search() !== this.value)
                            {
                                table.column(i).search(this.value).draw()
                            }
                        })
                    }
                    else
                    {
                        $(this).html("")
                    }
                })
            {% endif %}

            var table = $("#table").DataTable
            ({
                "order":
                [
                    {% if childrenClass == "Enterprise" or childrenClass == "Site" or childrenClass == "ElementTemplate" %}
                        [2, "asc"]              // Name.
                    {% elif childrenClass == "EventFrameTemplate" %}
                        [2, "asc"]              // Name.
                    {% elif childrenClass == "EventFrame" %}
                        [4, "desc"]             // Start timestamp.
                    {% endif %}
                ],
                "columns":
                [
                    { "orderable": false },     // Select button.
                    { "orderable": false },     // Grafana button.
                    {% if childrenClass == "Enterprise" or childrenClass == "Site" or childrenClass == "ElementTemplate" %}
                        null,
                        null
                    {% elif childrenClass == "EventFrameTemplate" %}
                        null,
                        null,
                        { "orderable": false }, // Associate button.
                        { "orderable": false }, // Overlay button.
                        { "orderable": false }, // Edit button.
                        { "orderable": false }  // Delete button.
                    {% elif childrenClass == "EventFrame" %}
                        null,
                        null,
                        null,
                        null,
                        { "orderable": false }, // Associate button.
                        { "orderable": false }, // Stop button.
                        { "orderable": false }, // Edit button.
                        { "orderable": false }, // Delete button.
                        {% for eventFrameAttributeTemplate in parent.EventFrameAttributeTemplates %}
                            null,
                        {% endfor %}
                    {% elif childrenClass == "DescendantEventFrameTemplate" %}
                        null,
                        null,
                        null,
                        { "orderable": false }, // Edit button.
                        { "orderable": false }  // Delete button.
                    {% endif %}
                ],
                "stateSave": true,
                "stateDuration": 0,
                "pageLength": 25,
                "orderCellsTop": true,
                "fixedHeader": true
            })

            $("#table").attr("style", "width:100%")

            // Apply the search
            table.columns().every(function ()
            {
                // Clear any left over filtering from state saving.
                this.search("", 1).draw()

                if (this.visible())
                {
                    $(".btn.btn-primary.btn-xs[data-columnIndex = " + this.index() + "]").addClass("active")
                }
                else
                {
                    $(".btn.btn-primary.btn-xs[data-columnIndex = " + this.index() + "]").removeClass("active")
                }
            })

            $("#buttonHideAllColumns").on("click", function()
            {
                table.columns().every(function ()
                {
                    if (this.index() > 9)
                    {
                        this.visible(false)
                        $(".btn.btn-primary.btn-xs[data-columnIndex = " + this.index() + "]").removeClass("active")
                    }
                })
            })

            $("#buttonShowAllColumns").on("click", function()
            {
                table.columns().every(function ()
                {
                    if (this.index() > 9)
                    {
                        this.visible(true)
                        $(".btn.btn-primary.btn-xs[data-columnIndex = " + this.index() + "]").addClass("active")
                    }
                })
            })

            $("[id^=buttonToggleColumn]").on("click", function(e)
            {
                e.preventDefault();
        
                // Get the column API object
                var column = table.column($(this).attr("data-columnIndex"))
        
                // Toggle the visibility
                column.visible(!column.visible())

                if ($(this).hasClass("active"))
                {
                    $(this).removeClass("active")
                }
                else
                {
                    $(this).addClass("active")
                }
            })

            $('#eventFrameAttributeTemplatesTable').DataTable
            ({
                "order":
                [
                    [0, 'asc']              // Name.
                ],
                "columns":
                [
                    null,
                    null,
                    { "orderable": false }, // Edit button.
                    { "orderable": false }  // Delete button.
                ],
                "stateSave": true,
                "stateDuration": 0,
                "pageLength": 25
            })

            $("a[title='Delete']").click(function ()
            {
                var name = $(this).attr("data-name")
                var type = $(this).attr("data-type")
                if(!window.confirm('Are you sure you want to delete the "' + name + '" ' + type + '?'))
                {
                    event.preventDefault()
                }
            })
        })
    </script>
{% endblock %}
