{% extends "base.html" %}

{% block title %}
Element Templates
{% endblock %}

{% block page_content %}
<div class = "page-header">
    <h1>Element Templates <small></small></h1>
</div>
<div>
    <a class = "btn btn-default" title = "Add" href = "{{ url_for("elementTemplates.addElementTemplate") }}" role = "button">
        <span class="glyphicon glyphicon-plus"></span></a>
    <br><br>
    <table id = "elementTemplatesTable" class = "table">
        <thead>
            <tr>
                <th>Site</th>
                <th>Name</th>
                <th>Description</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for elementTemplate in elementTemplates %}
            <tr>
                <td>{{ elementTemplate.Site.Enterprise.Abbreviation + "_" + elementTemplate.Site.Abbreviation }}</td>
                <td>{{ elementTemplate.Name }}</td>
                <td>{{ elementTemplate.Description }}</td>
                <td><a class = "btn btn-default" title = "Edit" href = "{{ url_for("elementTemplates.editElementTemplate",
                    elementTemplateId = elementTemplate.ElementTemplateId) }}"><span class="glyphicon glyphicon-edit"></span></a></td>
                <td><a class = "btn btn-default" title = "Delete" href = "{{ url_for("elementTemplates.deleteElementTemplate",
                    elementTemplateId = elementTemplate.ElementTemplateId) }}"><span class="glyphicon glyphicon-trash"></span></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <link rel = "stylesheet" type = "text/css" href = {{ url_for("static", filename = "css/datatables.min.css") }}/> 
    <script type = "text/javascript" src = {{ url_for("static", filename = "js/datatables.min.js") }}></script>
    <script>
        $('#elementTemplatesTable').DataTable
        ({
            "order":
            [
                [0, 'asc'],             // Site path.
                [1, 'asc']              // Element template name..
            ],
            "columns":
            [
                null,
                null,
                null,
                { "orderable": false }, // Edit element template button.
                { "orderable": false }  // Delete element template button.
            ],
            "stateSave": true,
            "stateDuration": 0,
            "pageLength": 25
        });
    </script>
{% endblock %}
