<!-- app/templates/admin/lookups/lookups.html -->

{% extends "base.html" %}

{% block title %}Lookups{% endblock %}

{% block page_content %}
<div>
    <h1>Lookups</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Enterprise</th>
                <th>Name</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for lookup in lookups %}
            <tr>
                <td>{{ lookup.Enterprise.Abbreviation }}</td>
                <td>{{ lookup.Name }}</td>
                <td><a class="btn btn-default" href="{{ url_for('admin.edit_lookup', id=lookup.LookupId) }}">Edit</a></td>
                <td><a class="btn btn-default" href="{{ url_for('admin.delete_lookup', id=lookup.LookupId) }}">Delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-default" href="{{ url_for('admin.add_lookup') }}" role="button">Add</a>
</div>
{% endblock %}
