{% extends "base.html" %}

{% block title %}
Elements
{% endblock %}

{% block page_content %}
<div>
    <h1>Elements</h1>
    <a class = "btn btn-default" href = "{{ url_for("elements.addElement") }}" role = "button">Add</a>
    <table class = "table">
        <thead>
            <tr>
                <th>Element Template</th>
                <th>Name</th>
                <th>Description</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for element in elements %}
            <tr>
                <td>{{ element.ElementTemplate.Site.Enterprise.Abbreviation + "_" + element.ElementTemplate.Site.Abbreviation + "_" +
                    element.ElementTemplate.Name }}</td>
                <td>{{ element.Name }}</td>
                <td>{{ element.Description }}</td>
                <td><a class = "btn btn-default" href = "{{ url_for("elements.editElement", elementId = element.ElementId) }}">Edit</a></td>
                <td><a class = "btn btn-default" href = "{{ url_for("elements.deleteElement", elementId = element.ElementId) }}">Delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
