{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
{{ elementName }} Dashboard
{% endblock %}

{% block page_content %}
<div>
    <h1>{{ elementName }}</h1>
    <table class = "table">
    <h2>Event Frames</h2>
    </table>
    <table class = "table">
        <thead>
            <tr>
                <th></th>
                <th>Event Frame</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for eventFrameTemplates in eventFrameTemplatess %}
            <tr>
                <td><a class = "btn btn-default" title = "List Values"
                    href = "{#{ url_for("tagValues.listTagValues", tagId = elementAttribute.Tag.TagId, 
                    lookupId = elementAttribute.Tag.LookupId) }#}"><span class="glyphicon glyphicon-list"></span></a></td>
                <td>{{ eventFrameTemplate.Name }}</td>
                <td>{#{ eventFrame.StartTime }#}</td>
                <td>{#{ eventFrame.EndTime }#}</td>
                <td><a class = "btn btn-default" title = "Add" href = "{{ url_for("elements.addEventFrame") }}">
                    <span class="glyphicon glyphicon-plus"></span></a></td>
                <td><a class = "btn btn-default" data-toggle = "tooltip" title = "Edit"
                    href = "{#{ url_for("elementAttributes.editElementAttributeValue", elementId = elementAttribute.ElementId,
                    tagValueId = firstTagValue.TagValueId) }#}"><span class="glyphicon glyphicon-edit"></span></a></td>
                <td><a class = "btn btn-default" data-toggle = "tooltip" title = "Delete"
                    href = "{#{ url_for("elementAttributes.deleteElementAttributeValue",
                    elementId = elementAttribute.ElementId, tagValueId = firstTagValue.TagValueId) }#}"><span class="glyphicon glyphicon-trash"></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>        
    <h2>Attributes</h2>        
    <table class = "table">
        <thead>
            <tr>
                <th></th>
                <th>Attribute</th>
                <th>Last Timestamp</th>
                <th>Last Value</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for elementAttribute in elementAttributes %}
            <tr>
                <td><a class = "btn btn-default" data-toggle = "tooltip" title = "List Values"
                    href = "{{ url_for("tagValues.listTagValues", tagId = elementAttribute.Tag.TagId, 
                    lookupId = elementAttribute.Tag.LookupId) }}"><span class="glyphicon glyphicon-list"></span></a></td>
                <td>{{ elementAttribute.AttributeTemplate.Name }}</td>
                {% if elementAttribute.Tag.TagValues[0] %}
                    {% set firstTagValue = elementAttribute.Tag.TagValues | sort(attribute = "Timestamp", reverse = True) | first %}
                    <td>{{ firstTagValue.Timestamp }}</td>
                    {% if elementAttribute.Tag.LookupId %}
                        <td>{{ elementAttribute.Tag.Lookup.LookupValues | selectattr("Value", "equalto", firstTagValue.Value) | map(attribute = "Name") |
                            list | first }}</td>                    
                    {% else %}
                        <td>{{ firstTagValue.Value }} {{ firstTagValue.Tag.UnitOfMeasurement.Abbreviation }}</td>                    
                    {% endif %}
                {% else %}
                    <td></td>
                    <td></td>
                {% endif %}
                <td><a class = "btn btn-default" data-toggle = "tooltip" title = "Add"
                    href = "{{ url_for("elementAttributes.addElementAttributeValue", elementId = elementAttribute.ElementId,
                    tagId = elementAttribute.Tag.TagId, lookupId = elementAttribute.Tag.LookupId) }}"><span class="glyphicon glyphicon-plus"></span></a></td>
                {% if elementAttribute.Tag.TagValues[0] %}
                    <td><a class = "btn btn-default" data-toggle = "tooltip" title = "Edit"
                        href = "{{ url_for("elementAttributes.editElementAttributeValue", elementId = elementAttribute.ElementId,
                        tagValueId = firstTagValue.TagValueId) }}"><span class="glyphicon glyphicon-edit"></span></a></td>
                    <td><a class = "btn btn-default" data-toggle = "tooltip" title = "Delete"
                        href = "{{ url_for("elementAttributes.deleteElementAttributeValue",
                        elementId = elementAttribute.ElementId, tagValueId = firstTagValue.TagValueId) }}"><span class="glyphicon glyphicon-trash"></a></td>
                {% else %}
                    <td></td>
                    <td></td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
