{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Data Entry - Elements
{% endblock %}

{% block page_content %}
<div>
    <ol class="breadcrumb">
        {% if className == "Element" %}
            <li><a href = "{{ url_for("elements.selectElement", className = "Root") }}">..</a></li>
            <li><a href = "{{ url_for("elements.selectElement", className = parent.Site.Enterprise.__class__.__name__,
                id = parent.Site.Enterprise.id()) }}">{{ parent.Site.Enterprise.Name }}</a></li>
            <li><a href = "{{ url_for("elements.selectElement", className = parent.Site.__class__.__name__,
                id = parent.Site.id()) }}">{{ parent.Site.Name }}</a></li>
            <li class = "active">{{ parent.Name }}</li>
        {% elif className == "ElementTemplate" and parent %}
            <li><a href = "{{ url_for("elements.selectElement", className = "Root") }}">..</a></li>
            <li><a href = "{{ url_for("elements.selectElement", className = parent.Enterprise.__class__.__name__,
                id = parent.Enterprise.id()) }}">{{ parent.Enterprise.Name }}</a></li>
            <li class = "active">{{ parent.Name }}</li>
        {% elif className == "Site" %}
            <li><a href = "{{ url_for("elements.selectElement", className = "Root") }}">..</a></li>
            <li class = "active">{{ parent.Name }}</li>
        {% elif className == "Enterprise" %}
            <li class = "active">..</li>
        {% endif %}
    </ol>
</div>
<div>
    {% if className == "Element" %}
        <h1>Elements</h1>
    {% elif className == "ElementTemplate" %}
        <h1>Element Templates</h1>
    {% elif className == "Site" %}
        <h1>Sites</h1>
    {% elif className == "Enterprise" %}
        <h1>Enterprises</h1>
    {% endif %}
    <table id = "table" class = "table">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {% if children %}
                {% for child in children %}
                    <tr>
                        {% if className == "Element" %}
                            <td><a class = "btn btn-default" title = "Select" href = "{{ url_for("elements.dashboard",
                                elementId = child.id()) }}"><span class="glyphicon glyphicon-list"></span></a></td>
                        {% else %}
                            <td><a class = "btn btn-default" title = "Select" href = "{{ url_for("elements.selectElement", className = child.__class__.__name__,
                                id = child.id()) }}"><span class="glyphicon glyphicon-list"></span></a></td>
                        {% endif %}
                        <td>{{ child.Name }}</td>
                        <td>{{ child.Description }}</td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <link rel = "stylesheet" type = "text/css" href = {{ url_for("static", filename = "css/datatables.min.css") }}/> 
    <script type = "text/javascript" src = {{ url_for("static", filename = "js/datatables.min.js") }}></script>
    <script>
        $('#table').DataTable
        ({
            "order":
            [
                [1, 'asc']              // Name.
            ],
            "columns":
            [
                { "orderable": false }, // Details button.
                null,
                null
            ],
            "stateSave": true,
            "stateDuration": 0,
            "pageLength": 25
        });
    </script>
{% endblock %}
