<!-- app/templates/admin/unitsOfMeasurement/unitsOfMeasurement.html -->

{% extends "base.html" %}

{% import "_macros.html" as macros %}

{% block title %}Units of Measurment{% endblock %}

{% block page_content %}
<div>
    <h1>Units of Measurment</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Abbreviation</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for unitOfMeasurement in unitsOfMeasurement %}
            <tr>
                <td>{{ unitOfMeasurement.Name }}</td>
                <td>{{ unitOfMeasurement.Abbreviation }}</td>
                <td><a class="btn btn-default" href="{{ url_for('admin.edit_unitOfMeasurement', id=unitOfMeasurement.UnitOfMeasurementId) }}">Edit</a></td>
                <td><a class="btn btn-default" href="{{ url_for('admin.delete_unitOfMeasurement', id=unitOfMeasurement.UnitOfMeasurementId) }}">Delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-default" href="{{ url_for('admin.add_unitOfMeasurement') }}" role="button">Add</a>
</div>
{% if pagination %}
<div class="text-right">
    {{ macros.pagination_widget(pagination, '.list_unitsOfMeasurement') }}
</div>
{% endif %}
{% endblock %}
