{% extends "base.html" %}

{% block title %}Event Frame Group Add Active Event Frames{% endblock %}

{% block page_content %}
    <div>
        <ol class = "breadcrumb">
            <li><a href = '{{ url_for("eventFrameGroups.listEventFrameGroups") }}'><span class = "glyphicon glyphicon-home"></span></a></li>
            <li><a href = '{{ url_for("eventFrameGroups.dashboard", eventFrameGroupId = eventFrameGroup.EventFrameGroupId) }}'>{{ eventFrameGroup.Name }}
                </a></li>
        </ol>
    </div>
    <div class = "page-header">
        <h1>Event Frame Group <small>{{ eventFrameGroup.Name }}</small></h1>
    </div>
    <div class = "page-header">
        <h1>
            <small>Selected Active Event Frames</small>
            <button class = "btn btn-default" id = "buttonSave" title = "Save"><span class = "glyphicon glyphicon-floppy-disk"></span></button>
        </h1>
    </div>
    <div>
        <table id = "selectedActiveEventFramesTable" class = "table table-hover" style = "display: none">
            <thead>
                <tr>
                    <th>Enterprise</th>
                    <th>Site</th>
                    <th>Element Template</th>
                    <th>Event Frame Template</th>
                    <th>Element</th>
                    <th>Name</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for eventFrame in eventFrames %}
                    <tr data-eventFrameId = "{{ eventFrame.EventFrameId }}" style = "display: none">
                        <td>{{ eventFrame.EventFrameTemplate.ElementTemplate.Site.Enterprise.Name }}</td>
                        <td>{{ eventFrame.EventFrameTemplate.ElementTemplate.Site.Name }}</td>
                        <td>{{ eventFrame.EventFrameTemplate.ElementTemplate.Name }}</td>
                        <td>{{ eventFrame.EventFrameTemplate.Name }}</td>
                        <td>{{ eventFrame.Element.Name }}</td>
                        <td>{{ eventFrame.Name }}</td>
                        <td><button class = "btn btn-default" id = "buttonRemove {{ loop.index }}" title = "Remove"><span class = "glyphicon glyphicon-minus">
                            </span></button></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class = "page-header">
        <h1><small>Available Active Event Frames</small></h1>
    </div>
    <div>
        <table id = "availableActiveEventFramesTable" class = "table table-hover" style = "display:none">
            <thead>
                <tr>                
                    <th>Enterprise</th>
                    <th>Site</th>
                    <th>Element Template</th>
                    <th>Event Frame Template</th>
                    <th>Element</th>
                    <th>Name</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for eventFrame in eventFrames %}
                    <tr data-eventFrameId = "{{ eventFrame.EventFrameId }}">
                        <td>{{ eventFrame.EventFrameTemplate.ElementTemplate.Site.Enterprise.Name }}</td>
                        <td>{{ eventFrame.EventFrameTemplate.ElementTemplate.Site.Name }}</td>
                        <td>{{ eventFrame.EventFrameTemplate.ElementTemplate.Name }}</td>
                        <td>{{ eventFrame.EventFrameTemplate.Name }}</td>
                        <td>{{ eventFrame.Element.Name }}</td>
                        <td>{{ eventFrame.Name }}</td>
                        <td><button class = "btn btn-default" id = "buttonAdd {{ loop.index }}" title = "Add"><span class = "glyphicon glyphicon-plus"></span>
                            </button></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <link rel = "stylesheet" type = "text/css" href = {{ url_for("static", filename = "css/datatables.min.css") }}/>
    <link rel = "stylesheet" type = "text/css" href = {{ url_for("static", filename = "css/styles.css") }}/>
    <script type = "text/javascript" src = {{ url_for("static", filename = "js/datatables.min.js") }}></script>
    {% block setTabIndex %}
        <script>
            function setTabIndex()
            {
                var tabIndex = 1
                $('ol.breadcrumb a[title="Next"],[id^=inputOrSelectNewValue]').each(function()
                {
                    $(this).attr("tabindex", tabIndex)
                    tabIndex = tabIndex + 1
                })

                $('#availableNewEventFramesTable button[title="Add"]').each(function ()
                {
                    $(this).attr("tabindex", tabIndex)
                    tabIndex = tabIndex + 1
                })

                $("#buttonSave").attr("tabindex", tabIndex)
                tabIndex = tabIndex + 1
                $('ol.breadcrumb a[title="Previous"]').attr("tabindex", tabIndex)
                tabIndex = tabIndex + 1
                $($("ol.breadcrumb > li:not(.active) > a").get().reverse()).each(function()       
                {
                    $(this).attr("tabindex", tabIndex)
                    tabIndex = tabIndex + 1
                })
                
                $('ol.breadcrumb a[title="Next"]').focus()
            }
        </script>
    {% endblock %}
    <script>
        $(document).ready(function()
        {
            var selectedActiveEventFramesTable = $("#selectedActiveEventFramesTable").DataTable
            ({
                "order":
                [
                    [0, "asc"],             // Enterprise.
                    [1, "asc"],             // Site.
                    [2, "asc"],             // Element Template.
                    [3, "asc"],             // Event Frame Template.
                    [4, "asc"],             // Element.
                    [5, "asc"]              // Name.
                ],
                "columns":
                [
                    null,
                    null,
                    null,
                    null,
                    null,
                    null,
                    { "orderable": false }  // Remove button.
                ],
                "stateSave": true,
                "stateDuration": 0,
                "pageLength": 100,
                "bInfo": false
            })

            var availableActiveEventFramesTable = $("#availableActiveEventFramesTable").DataTable
            ({
                "order":
                [
                    [0, "asc"],             // Enterprise.
                    [1, "asc"],             // Site.
                    [2, "asc"],             // Element Template.
                    [3, "asc"],             // Event Frame Template.
                    [4, "asc"],             // Element.
                    [4, "asc"]              // Name.
                ],
                "columns":
                [
                    null,
                    null,
                    null,
                    null,
                    null,
                    null,
                    { "orderable": false }  // Add button.
                ],
                "stateSave": true,
                "stateDuration": 0,
                "pageLength": 100,
                "bInfo": false
            })

            $("#availableActiveEventFramesTable").attr("style", "width:100%")
            $("#selectedActiveEventFramesTable").attr("style", "width:100%")

            $("[id^=buttonAdd]").on("click", function()
            {
                var eventFrameId = $(this).parent().parent().attr("data-eventFrameId")
                $("#availableActiveEventFramesTable tr[data-eventFrameId=" + eventFrameId + "]").hide()
                $("#selectedActiveEventFramesTable tr[data-eventFrameId=" + eventFrameId + "]").show()
            })

            $("[id^=buttonRemove]").on("click", function()
            {
                // Clear any filtering on the available table for user clarity.
                availableActiveEventFramesTable.search("").columns().search("").draw()
                var eventFrameId = $(this).parent().parent().attr("data-eventFrameId")
                $("#availableActiveEventFramesTable tr[data-eventFrameId=" + eventFrameId + "]").show()
                $("#selectedActiveEventFramesTable tr[data-eventFrameId=" + eventFrameId + "]").hide()
            })

            $("#buttonSave").on("click", function()
            {
                var rows = []

                selectedActiveEventFramesTable.rows("tr:visible").nodes().to$().each(function ()
                {
                    var eventFrameId = $(this).attr("data-eventFrameId")
                    var row = {}
                        row["eventFrameId"] = eventFrameId
                        rows.push(row)
                })

                $.ajax(
                {
                    type : "POST",
                    url : "/eventFrameEventFrameGroups/add/active/{{ eventFrameGroup.EventFrameGroupId }}",
                    data : JSON.stringify(rows)
                }).done(function(response)
                {
                    window.location.href = '{{ url_for("eventFrameGroups.dashboard", eventFrameGroupId = eventFrameGroup.EventFrameGroupId) }}'
                }).fail(function()
                {
                    $(".alert").remove()
                    $("#divFlashedMessages").append("<div class = \"alert alert-danger\"><button type = \"button\" class = \"close\" " +
                        "data-dismiss = \"alert\">&times;</button>The attempt to add one or more event frames failed.</div>")                        
                })
            })

            // Clear any left over filtering from state saving.
            selectedActiveEventFramesTable.search("").columns().search("").draw()
            selectedNewEventFramesTable.on("draw.dt", function()
            {
                setTabIndex()
            })
            availableActiveEventFramesTable.search("").columns().search("").draw()
            availableNewEventFramesTable.on("draw.dt", function()
            {
                setTabIndex()
            })
            setTabIndex()
        })
    </script>
{% endblock %}
