{% extends "base.html" %}

{% block title %}Event Frame Group{% endblock %}

{% block page_content %}
    <div>
        <ol class = "breadcrumb">
            <li><a href = '{{ url_for("eventFrameGroups.listEventFrameGroups") }}'><span class = "glyphicon glyphicon-home"></span></a></li>
            <li class = "active">
                <a title = "Previous" href = '{{ url_for("eventFrameGroups.dashboard", eventFrameGroupId = eventFrameGroup.previous().id()) }}'>
                        <span class = "glyphicon glyphicon-arrow-left"></span></a>
                <a title = "Next" href = '{{ url_for("eventFrameGroups.dashboard", eventFrameGroupId = eventFrameGroup.next().id()) }}'>
                    <span class = "glyphicon glyphicon-arrow-right"></span></a>    
                {{ eventFrameGroup.Name }}
            </li>
        </ol>
    </div>
    <div class = "page-header">
        <h1>Event Frame Group <small>{{ eventFrameGroup.Name }}</small></h1>
    </div>
    <div>
        Event Frame Templates:
        {% for eventFrameTemplate in eventFrameTemplates %}
            {% if eventFrameTemplate == displayEventFrameTemplate %}
                {% set class = "btn btn-primary btn-xs active" %}
            {% else %}
                {% set class = "btn btn-primary btn-xs" %}
            {% endif %}
            <a class = "{{ class }}" href = '{{ url_for("eventFrameGroups.dashboard", eventFrameGroupId = eventFrameGroup.EventFrameGroupId,
                displayEventFrameTemplateId = eventFrameTemplate.EventFrameTemplateId) }}' role = "button">
                {{ eventFrameTemplate.ElementTemplate.Site.Enterprise.Abbreviation + "_" +
                eventFrameTemplate.ElementTemplate.Site.Abbreviation + "_" + eventFrameTemplate.ElementTemplate.Name + "_" + eventFrameTemplate.Name }}</a>
        {% endfor %}
    </div>
    <br>
    <div>
        <a class = "btn btn-default" title = "Add New Event Frames" href = '{{ url_for("eventFrameGroups.addNewEventFrames",
            eventFrameGroupId = eventFrameGroup.EventFrameGroupId) }}' role = "button"><span class = "glyphicon glyphicon-plus"></span> New</a>
        <a class = "btn btn-default" title = "Add Active Event Frames" href = '{{ url_for("eventFrameGroups.addActiveEventFrames",
            eventFrameGroupId = eventFrameGroup.EventFrameGroupId) }}' role = "button"><span class = "glyphicon glyphicon-plus"></span> Active</a>
        {% if displayEventFrameTemplate is not none %}
            <a class = "btn btn-default" title = "End All {{ displayEventFrameTemplate.Name }} Event Frames"
                href = '{{ url_for("eventFrameGroups.endEventFrames", eventFrameGroupId = eventFrameGroup.EventFrameGroupId,
                eventFrameTemplateId = displayEventFrameTemplate.EventFrameTemplateId) }}' role = "button"><span class = "glyphicon glyphicon-stop"></span></a>
            <a class = "btn btn-default" title = "Restart All {{ displayEventFrameTemplate.Name }} Event Frames"
                href = '{{ url_for("eventFrameGroups.restartEventFrames", eventFrameGroupId = eventFrameGroup.EventFrameGroupId,
                eventFrameTemplateId = displayEventFrameTemplate.EventFrameTemplateId) }}' role = "button"><span class = "glyphicon glyphicon-play"></span></a>
            <a class = "btn btn-default" title = "Grafana"
                href = '{{ "EventFrameGroupSummary" | grafanaUrl({"enterpriseId": displayEventFrameTemplate.ElementTemplate.Site.Enterprise.EnterpriseId,
                "siteId": displayEventFrameTemplate.ElementTemplate.Site.SiteId,
                "elementTemplateId": displayEventFrameTemplate.ElementTemplate.ElementTemplateId,
                "eventFrameTemplateId": displayEventFrameTemplate.EventFrameTemplateId,
                "eventFrameGroupId": eventFrameGroup.EventFrameGroupId}) }}'
                target = "_blank"><span class = "glyphicon glyphicon-stats"></span></a>
        {% endif %}
    </div>
    <br>
    <div>
        <table id = "table" class = "table table-hover" style = "display:none">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Element</th>
                    {% for eventFrameAttributeTemplate in displayEventFrameTemplate.EventFrameAttributeTemplates %}
                        <th>{{ eventFrameAttributeTemplate.Name }}</th>
                    {% endfor %}
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th><button class = "btn btn-default" id = "buttonSave" title = "Save All"><span class = "glyphicon glyphicon-floppy-disk"></span>
                        </button></th>
                </tr>
            </thead>
            <tbody>
                {% for eventFrame in eventFrames %}
                    {% if eventFrame.EventFrameTemplate == displayEventFrameTemplate %}
                        <tr>
                            <td><a class = "btn btn-default" title = "Select" href = '{{ url_for("eventFrames.dashboard",
                                eventFrameId = eventFrame.EventFrameId, eventFrameGroupId = eventFrameGroup.EventFrameGroupId) }}'>
                                <span class = "glyphicon glyphicon-list"></span></a></td>
                            <td>{{ eventFrame.Name }}</td>
                            <td>{{ eventFrame.Element.Name }}</td>
                            {% for eventFrameAttributeTemplate in displayEventFrameTemplate.EventFrameAttributeTemplates %}
                                {% set tagId = eventFrameAttributeTemplate.EventFrameAttributes.filter_by(ElementId = eventFrame.ElementId) |
                                    map(attribute = "TagId") | first%}
                                {% set disabled = "" if eventFrame.EndTimestamp is none else "disabled" %}
                                <td>
                                    <div class = "form-group" id = "divNewValue{{ tagId }}">
                                        {% if eventFrameAttributeTemplate.LookupId is none %}
                                            <input class = "form-control" id = "inputOrSelectNewValue{{ tagId }}" value = "" {{ disabled }}>
                                            <p class = "help-block" id = "pNewValue{{ tagId }}"></p>
                                        {% else %}
                                            <select class = "form-control" id = "inputOrSelectNewValue{{ tagId }}" {{ disabled }}>
                                                <option value = "-1"></option>
                                                {% for lookupValue in eventFrameAttributeTemplate.Lookup.LookupValues %}
                                                    {% if lookupValue.Selectable %}
                                                        <option value = "{{ lookupValue.Value }}">{{ lookupValue.Name}}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                            <p class = "help-block" id = "pNewValue{{ tagId }}"></p>
                                        {% endif %}
                                    </div>
                                </td>
                            {% endfor %}
                            <td><a class = "btn btn-default" title = "Remove" href = '{{ url_for("eventFrameEventFrameGroups.delete",
                                eventFrameGroupId = eventFrameGroup.EventFrameGroupId, eventFrameId = eventFrame.EventFrameId) }}'
                                data-eventFrameName = "{{ eventFrame.Name }}"><span class = "glyphicon glyphicon-minus"></span></a></td>
                            {% if eventFrame.EndTimestamp is none %}
                                <td><a class = "btn btn-default" title = "End"
                                    href = '{{ url_for("eventFrames.endEventFrame", eventFrameId = eventFrame.EventFrameId) }}'>
                                    <span class = "glyphicon glyphicon-stop"></span></a></td>
                            {% else %}
                                <td><a class = "btn btn-default" title = "Restart"
                                    href = '{{ url_for("eventFrames.restartEventFrame", eventFrameId = eventFrame.EventFrameId) }}'>
                                    <span class = "glyphicon glyphicon-play"></span></a></td>
                            {% endif %}
                            <td><a class = "btn btn-default" title = "Edit" href = '{{ url_for("eventFrames.editEventFrame",
                                eventFrameId = eventFrame.EventFrameId, eventFrameGroupId = eventFrameGroup.EventFrameGroupId) }}'>
                                <span class = "glyphicon glyphicon-edit"></span></a></td>
                            <td><a class = "btn btn-default" title = "Delete"
                                href = '{{ url_for("eventFrames.deleteEventFrame", eventFrameId = eventFrame.EventFrameId) }}',
                                data-eventFrameName = "{{ eventFrame.Name }}"><span class = "glyphicon glyphicon-trash"></span></a></td>
                            <td></td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <link rel = "stylesheet" type = "text/css" href = {{ url_for("static", filename = "css/datatables.min.css") }}/> 
    <link rel = "stylesheet" type = "text/css" href = {{ url_for("static", filename = "css/styles.css") }}/>
    <script type = "text/javascript" src = {{ url_for("static", filename = "js/datatables.min.js") }}></script>
    {% block setTabIndex %}
        <script>
            var setTabIndex = function(type)
            {
                var tabIndex = 1
                $('ol.breadcrumb a[title="Next"],[id^=inputOrSelectNewValue]').each(function()
                {
                    $(this).attr("tabindex", tabIndex)
                    tabIndex = tabIndex + 1
                })

                $("#buttonSave").attr("tabindex", tabIndex)
                tabIndex = tabIndex + 1
                $($("ol.breadcrumb > li:not(.active) > a").get().reverse()).each(function()       
                {
                    $(this).attr("tabindex", tabIndex)
                    tabIndex = tabIndex + 1
                })

                $('ol.breadcrumb a[title="Next"]').focus()
            }
        </script>
    {% endblock %}
    <script>
        $(document).ready(function()
        {
            var table = $("#table").on("draw.dt", function()
            {
                setTabIndex()
            }).DataTable
            ({
                fixedHeader: {
                    header: true,
                    footer: false
                },
                "order":
                [
                    [1, "asc"],             // Name.
                    [2, "asc"]              // Element.
                ],
                "columns":
                [
                    { "orderable": false }, // Select button.
                    null,
                    null,
                    {% for eventFrameAttributeTemplate in displayEventFrameTemplate.EventFrameAttributeTemplates %}
                        { "orderable": false },
                    {% endfor %}
                    { "orderable": false }, // Remove button.
                    { "orderable": false }, // End button.
                    { "orderable": false }, // Edit button.
                    { "orderable": false }, // Delete button.
                    { "orderable": false }  // Save button.
                ],
                "stateSave": true,
                "stateDuration": 0,
                "pageLength": 25
            })

            $("#table").attr("style", "width:100%")
    
            $("a[title='Delete']").on("click", function ()
            {
                var eventFrameName = $(this).attr("data-eventFrameName")
                if(!window.confirm('Are you sure you want to delete the "' + eventFrameName + '" event frame?'))
                {
                    event.preventDefault()
                }
            })

            $("a[title='Remove']").on("click", function ()
            {
                var eventFrameName = $(this).attr("data-eventFrameName")
                if(!window.confirm('Are you sure you want to remove the "' + eventFrameName + '" event frame from this group?'))
                {
                    event.preventDefault()
                }
            })

            $("#buttonSave").on("click", function()
            {
                var error = false
                var rows = []

                // Loop through the new input or select values and check for validation errors.
                table.$("[id^=inputOrSelectNewValue]").each(function()
                {
                    var id = $(this).attr("id").split("inputOrSelectNewValue")[1]
                    var newValue = $.trim($(this).val())
                    var newValueIsBlank = true
                    var newValueIsValid = $.isNumeric(newValue)

                    if ($(this).is("input"))
                    {
                        newValueIsBlank = newValue == ""
                    }
                    else if ($(this).is("select"))
                    {
                        newValueIsBlank = newValue == "-1"
                    }

                    if (newValueIsBlank)
                    {
                        $("#divNewValue" + id).removeClass("has-error")
                        $("#pNewValue" + id).html("")
                    }
                    else if (!newValueIsValid)
                    {
                        error = true
                        $("#divNewValue" + id).addClass("has-error")
                        $("#pNewValue" + id).html("Not a valid float value")
                    }
                    else
                    {
                        $("#divNewValue" + id).removeClass("has-error")
                        $("#pNewValue" + id).html("")
                        var row = {}
                        row["tagId"] = id
                        row["type"] = "input"
                        row["value"] = newValue
                        row["timestamp"] = moment().utc().format("YYYY-MM-DD HH:mm:ss")
                        rows.push(row)
                    }
                })

                if (error != true)
                {
                    $.ajax(
                    {
                        type : "POST",
                        url : "/tagValues/addMultiple",
                        data : JSON.stringify(rows)
                    }).done(function(response)
                    {
                        location.reload(true)
                    }).fail(function()
                    {
                        $(".alert").remove()
                        $("#divFlashedMessages").append("<div class = \"alert alert-danger\"><button type = \"button\" class = \"close\" " +
                            "data-dismiss = \"alert\">&times;</button>The attempt to save one or more values failed.</div>")                        
                    })
                }
            })

            // Enter key call save all.
            $(document).keypress(function(event)
            {
                if (event.which == 13)
                {
                    $("#buttonSave").focus()
                }
            })
        })
    </script>
{% endblock %}
