{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
    {% if operation == "Add" %}
        Add Element Attribute Value
    {% elif operation == "Edit" %}
        Edit Element Attribute Value
    {% endif %}
{% endblock %}

{% block page_content %}
<div>
    {% if operation == "Add" %}
        <h1>Add Element Attribute Value</h1>
    {% elif operation == "Edit" %}
        <h1>Edit Element Attribute Value</h1>
    {% endif %}
</div>
<div>
{{ wtf.quick_form(form) }}
</div>
{% endblock %}
