{% extends "base.html" %}

{% block title %}
Element Attributes
{% endblock %}

{% block page_content %}
<div>
    <ol class="breadcrumb">
        <li><a href = "{{ url_for("elements.selectElement", selectedClass = "Root", selectedId = None) }}">..</a></li>
        <li><a href = "{{ url_for("elements.selectElement", selectedClass = "Enterprise",
            selectedId = element.ElementTemplate.Site.Enterprise.EnterpriseId) }}">{{ element.ElementTemplate.Site.Enterprise.Name }}</a></li>
        <li><a href = "{{ url_for("elements.selectElement", selectedClass = "Site",
            selectedId = element.ElementTemplate.Site.SiteId) }}">{{ element.ElementTemplate.Site.Name }}</a></li>
        <li><a href = "{{ url_for("elements.selectElement", selectedClass = "ElementTemplate",
            selectedId = element.ElementTemplate.ElementTemplateId) }}">{{ element.ElementTemplate.Name }}</a></li>
        <li><a href = "{{ url_for("elements.dashboard", elementId = element.ElementId) }}">{{ element.Name }}</a></li>
    </ol>
</div>
<div class = "page-header">
    <h1>Element Attributes <small></small></h1>
</div>
<div>
    <a class = "btn btn-default" title = "Add" href = "{{ url_for("elementAttributes.addElementAttribute", elementId = element.ElementId) }}"
        role = "button"><span class="glyphicon glyphicon-plus"></span></a>
    <br><br>
    <table id = "elementAttributesTable" class = "table">
        <thead>
            <tr>
                <th>Element Attribute Template</th>
                <th>Tag</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for elementAttribute in element.ElementAttributes %}
            <tr>
                <td>{{ elementAttribute.ElementAttributeTemplate.Name }}</td>
                <td>{{ elementAttribute.Tag.Area.Site.Enterprise.Abbreviation + "_" + elementAttribute.Tag.Area.Site.Abbreviation + "_" +
                    elementAttribute.Tag.Area.Abbreviation + "_" + elementAttribute.Tag.Name }}</td>
                <td><a class = "btn btn-default" title = "Edit" href = "{{ url_for("elementAttributes.editElementAttribute",
                    elementAttributeId = elementAttribute.ElementAttributeId) }}"><span class="glyphicon glyphicon-edit"></span></a></td>
                <td><a class = "btn btn-default" title = "Delete" href = "{{ url_for("elementAttributes.deleteElementAttribute",
                    elementAttributeId = elementAttribute.ElementAttributeId) }}"><span class="glyphicon glyphicon-trash"></span></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <link rel = "stylesheet" type = "text/css" href = {{ url_for("static", filename = "css/datatables.min.css") }}/> 
    <script type = "text/javascript" src = {{ url_for("static", filename = "js/datatables.min.js") }}></script>
    <script>
        $(document).ready(function()
        {
            $("#elementAttributesTable").DataTable
            ({
                "order":
                [
                    [0, "asc"]              // Element Attribute Template.
                ],
                "columns":
                [
                    null,
                    null,
                    { "orderable": false }, // Edit element attribute button.
                    { "orderable": false }  // Delete element attribute button.
                ],
                "stateSave": true,
                "stateDuration": 0,
                "pageLength": 25
            })
        })
    </script>
{% endblock %}
