{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Data Entry - Element Attribute Values
{% endblock %}

{% block page_content %}
<div>
    <h1>{{ elementName }}</h1>
    <table class = "table">
        <thead>
            <tr>
                <th></th>
                <th>Attribute</th>
                <th>Last Timestamp</th>
                <th>Last Value</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for elementAttribute in elementAttributes %}
            <tr>
                <td><a class = "btn btn-default" title = "List Values" href = "{{ url_for("tagValues.listTagValues", tagId = elementAttribute.Tag.TagId, 
                    lookupId = elementAttribute.Tag.LookupId) }}"><span class="glyphicon glyphicon-list"></span></a></td>
                <td>{{ elementAttribute.AttributeTemplate.Name }}</td>
                {% if elementAttribute.Tag.TagValues[0] %}
                    {% set firstTagValue = elementAttribute.Tag.TagValues | sort(attribute = "Timestamp", reverse = True) | first %}
                    <td>{{ firstTagValue.Timestamp }}</td>
                    {% if elementAttribute.Tag.LookupId %}
                        <td>{{ elementAttribute.Tag.Lookup.LookupValues | selectattr("Value", "equalto", firstTagValue.Value) | map(attribute = "Name") |
                            list | first }}</td>                    
                    {% else %}
                        <td>{{ firstTagValue.Value }} {{ firstTagValue.Tag.UnitOfMeasurement.Abbreviation }}</td>                    
                    {% endif %}
                {% else %}
                    <td></td>
                    <td></td>
                {% endif %}
                <td><a class = "btn btn-default" title = "Add" href = "{{ url_for("elementAttributes.addElementAttributeValue", 
                    elementId = elementAttribute.ElementId, tagId = elementAttribute.Tag.TagId, lookupId = elementAttribute.Tag.LookupId) }}">
                    <span class="glyphicon glyphicon-plus"></span></a></td>
                {% if elementAttribute.Tag.TagValues[0] %}
                    <td><a class = "btn btn-default" title = "Edit" href = "{{ url_for("elementAttributes.editElementAttributeValue", 
                        elementId = elementAttribute.ElementId, tagValueId = firstTagValue.TagValueId) }}">
                        <span class="glyphicon glyphicon-edit"></span></a></td>
                    <td><a class = "btn btn-default" title = "Delete" href = "{{ url_for("elementAttributes.deleteElementAttributeValue",
                        elementId = elementAttribute.ElementId, tagValueId = firstTagValue.TagValueId) }}">
                        <span class="glyphicon glyphicon-trash"></span></a></td>
                {% else %}
                    <td></td>
                    <td></td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
