{% extends "base.html" %}

{% block title %}
Lookups
{% endblock %}

{% block page_content %}
<div>
    <h1>Lookups</h1>
    <a class = "btn btn-default" title = "Add" href = "{{ url_for("lookups.addLookup") }}" role = "button"><span class="glyphicon glyphicon-plus"></span></a>
    <table class = "table">
        <thead>
            <tr>
                <th><a href = "{{ url_for("lookups.listLookups") }}">Enterprise</a></th>
                <th><a href = "{{ url_for("lookups.listLookups", sortColumn = "Lookup.Name") }}">Name</a></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for lookup in lookups %}
            <tr>
                <td>{{ lookup.Enterprise.Abbreviation }}</td>
                <td>{{ lookup.Name }}</td>
                <td><a class = "btn btn-default" title = "Edit" href = "{{ url_for("lookups.editLookup", lookupId = lookup.LookupId) }}">
                    <span class="glyphicon glyphicon-edit"></span></a></td>
                <td><a class = "btn btn-default" title = "List Values" href = "{{ url_for("lookupValues.listLookupValues", lookupId = lookup.LookupId) }}">
                    <span class="glyphicon glyphicon-list"></span></a></td>
                <td><a class = "btn btn-default" title = "Delete" href = "{{ url_for("lookups.deleteLookup", lookupId = lookup.LookupId) }}">
                    <span class="glyphicon glyphicon-trash"></span></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
