{% extends "base.html" %}

{% block title %}
Lookup Values
{% endblock %}

{% block page_content %}
<div>
    <h1>{{ lookup.Name }} - Lookup Values</h1>
    <a class = "btn btn-default" href = "{{ url_for("lookupValues.addLookupValue", lookupId = lookup.LookupId) }}" role = "button">
        <span class="glyphicon glyphicon-plus"></span></a>
    <table class = "table">
        <thead>
            <tr>
                <th>Lookup</th>
                <th>Name</th>
                <th>Selectable</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for lookupValue in lookupValues %}
            <tr>
                <td>{{ lookupValue.Lookup.Enterprise.Abbreviation + "_" + lookupValue.Lookup.Name }}</td>
                <td>{{ lookupValue.Name }}</td>
                <td>{{ lookupValue.Selectable }}</td>
                <td><a class = "btn btn-default" href = "{{ url_for("lookupValues.editLookupValue", lookupValueId = lookupValue.LookupValueId) }}">
                    <span class="glyphicon glyphicon-edit"></span></a></td>
                <td><a class = "btn btn-default" href = "{{ url_for("lookupValues.deleteLookupValue", lookupValueId = lookupValue.LookupValueId) }}">
                    <span class="glyphicon glyphicon-trash"></span></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
