{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Tags
{% endblock %}

{% block page_content %}
<div>
    <ol class="breadcrumb">
        {% if childrenClass == "Enterprise" %}
            <li class = "active">..</li>
            {% set tableHeader = "Enterprise" %}
            {% set pageHeaderSubText = "Select an Enterprise" %}
        {% elif childrenClass == "Site" %}
            <li><a href = "{{ url_for("tags.selectTag", selectedClass = "Root") }}">..</a></li>
            <li class = "active">{{ parent.Name }}</li>
            {% set tableHeader = "Site" %}
            {% set pageHeaderSubText = "Select a Site" %}
        {% elif childrenClass == "Area" %}
            <li><a href = "{{ url_for("tags.selectTag", selectedClass = "Root") }}">..</a></li>
            <li><a href = "{{ url_for("tags.selectTag", selectedClass = "Enterprise",
                selectedId = parent.Enterprise.id()) }}">{{ parent.Enterprise.Name }}</a></li>
            <li class = "active">{{ parent.Name }}</li>
            {% set tableHeader = "Area" %}
            {% set pageHeaderSubText = "Select an Area" %}
        <!-- "and parent" checks for systems that have not been configured with an area yet. -->
        {% elif childrenClass == "Tag" and parent %}
            <li><a href = "{{ url_for("tags.selectTag", selectedClass = "Root") }}">..</a></li>
            <li><a href = "{{ url_for("tags.selectTag", selectedClass = "Enterprise",
                selectedId = parent.Site.Enterprise.id()) }}">{{ parent.Site.Enterprise.Name }}</a></li>
            <li><a href = "{{ url_for("tags.selectTag", selectedClass = "Site",
                selectedId = parent.Site.id()) }}">{{ parent.Site.Name }}</a></li>
            <li class = "active">{{ parent.Name }}</li>
            {% set tableHeader = "Tag" %}
            {% set pageHeaderSubText = "Select a Tag" %}
        {% endif %}
    </ol>
</div>
<div class = "page-header">
    <h1>Tags <small>{{ pageHeaderSubText }}</small></h1>
</div>
<div>
    {% if childrenClass == "Tag" and parent and current_user.isAdministrator() %}
        <a class = "btn btn-default" title = "Add Tag" href = "{{ url_for("tags.addTag", areaId = parent.id()) }}" role = "button">
            <span class="glyphicon glyphicon-plus"></span>Tag</a>
        <a class = "btn btn-default" title = "Add Lookup" href = "{{ url_for("tags.addTag", areaId = parent.id(), lookup = True) }}" role = "button">
            <span class="glyphicon glyphicon-plus"></span> Lookup Tag</a>
    {% endif %}
    <br><br>    
    <table id = "tagsTable" class = "table">
        <thead>
            <tr>
                <th></th>
                <th>{{ tableHeader }}</th>
                <th>Description</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% if children %}
                {% for child in children %}
                    <tr>
                        {% if childrenClass == "Tag" %}
                            <td><a class = "btn btn-default" title = "Tag Values" href = "{{ url_for("tagValues.listTagValues",
                                tagId = child.id()) }}"><span class="glyphicon glyphicon-list"></span></a></td>
                        {% else %}
                            <td><a class = "btn btn-default" title = "Children" href = "{{ url_for("tags.selectTag", selectedClass = child.__class__.__name__,
                                selectedId = child.id()) }}"><span class="glyphicon glyphicon-list"></span></a></td>
                        {% endif %}
                        <td>{{ child.Name }}</td>
                        <td>{{ child.Description }}</td>
                        {% if childrenClass == "Tag" and current_user.isAdministrator() %}
                            <td><a class = "btn btn-default" title = "Edit" href = "{{ url_for("tags.editTag", tagId = child.TagId) }}">
                                <span class="glyphicon glyphicon-edit"></span></a></td>
                            <td><a class = "btn btn-default" title = "Delete" href = "{{ url_for("tags.deleteTag", tagId = child.TagId) }}">
                                <span class="glyphicon glyphicon-trash"></span></a></td>
                        {% else %}
                            <td></td>
                            <td></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <link rel = "stylesheet" type = "text/css" href = {{ url_for("static", filename = "css/datatables.min.css") }}/> 
    <script type = "text/javascript" src = {{ url_for("static", filename = "js/datatables.min.js") }}></script>
    <script>
        $('#tagsTable').DataTable
        ({
            "order":
            [
                [1, 'asc'],             // Name.
            ],
            "columns":
            [
                { "orderable": false }, // Tag values button.
                null,
                null,
                { "orderable": false }, // Edit button.
                { "orderable": false }  // Delete button.
            ],
            "stateSave": true,
            "stateDuration": 0,
            "pageLength": 25
        });
    </script>
{% endblock %}
