{% extends "base.html" %}

{% import "_macros.html" as macros %}

{% block title %}
Tags
{% endblock %}

{% block page_content %}
<div>
    <h1>Tags</h1>
    <a class = "btn btn-default" title = "Add Tag" href = "{{ url_for("tags.addTag") }}" role = "button">
        <span class="glyphicon glyphicon-plus"></span> Tag</a>
    <a class = "btn btn-default" title = "Add Lookup" href = "{{ url_for("tags.addTag", lookup = True) }}" role = "button">
        <span class="glyphicon glyphicon-plus"></span> Lookup</a>
    <table class = "table">
        <thead>
            <tr>
                <th></th>
                <th><a href = "{{ url_for("tags.listTags") }}">Area</a></th>
                <th><a href = "{{ url_for("tags.listTags", sortColumn = "Tag.Name") }}">Name</a></th>
                <th><a href = "{{ url_for("tags.listTags", sortColumn = "Tag.Description") }}">Description</a></th>
                <th><a href = "{{ url_for("tags.listTags", sortColumn = "UnitOfMeasurement.Name") }}">Unit</a></th>
                <th><a href = "{{ url_for("tags.listTags", sortColumn = "Lookup.Name") }}">Lookup</a></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for tag in tags %}
            <tr>
                <td><a class = "btn btn-default" title = "List Values" href = "{{ url_for("tagValues.listTagValues", tagId = tag.TagId, 
                    lookupId = tag.LookupId) }}"><span class="glyphicon glyphicon-list"></span></a></td>
                <td>{{ tag.Area.Site.Enterprise.Abbreviation + "_" + tag.Area.Site.Abbreviation + "_" + tag.Area.Abbreviation }}</td>
                <td>{{ tag.Name }}</td>
                <td>{{ tag.Description }}</td>
                <td>{{ tag.UnitOfMeasurement.Abbreviation }}</td>
                <td>{{ tag.Lookup.Name }}</td>
                <td><a class = "btn btn-default" title = "Edit" href = "{{ url_for("tags.editTag", tagId = tag.TagId) }}">
                    <span class="glyphicon glyphicon-edit"></span></a></td>
                <td><a class = "btn btn-default" title = "Delete" href = "{{ url_for("tags.deleteTag", tagId = tag.TagId) }}">
                    <span class="glyphicon glyphicon-trash"></span></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% if pagination %}
<div class = "text-right">
    {{ macros.pagination_widget(pagination, ".listTags") }}
</div>
{% endif %}
{% endblock %}
