{% extends "base.html" %}

{% import "_macros.html" as macros %}

{% block title %}
Tags
{% endblock %}

{% block page_content %}
<div>
    <h1>Tags</h1>
    <a class = "btn btn-default" title = "Add Tag" href = "{{ url_for("tags.addTag") }}" role = "button">
        <span class="glyphicon glyphicon-plus"></span> Tag</a>
    <a class = "btn btn-default" title = "Add Lookup" href = "{{ url_for("tags.addTag", lookup = True) }}" role = "button">
        <span class="glyphicon glyphicon-plus"></span> Lookup</a>
    <br><br>
    <table id = "tagsTable" class = "table">
        <thead>
            <tr>
                <th></th>
                <th>Area</th>
                <th>Name</th>
                <th>Description</th>
                <th>Unit</th>
                <th>Lookup</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for tag in tags %}
            <tr>
                <td><a class = "btn btn-default" title = "List Values" href = "{{ url_for("tagValues.listTagValues", tagId = tag.TagId) }}">
                    <span class="glyphicon glyphicon-list"></span></a></td>
                <td>{{ tag.Area.Site.Enterprise.Abbreviation + "_" + tag.Area.Site.Abbreviation + "_" + tag.Area.Abbreviation }}</td>
                <td>{{ tag.Name }}</td>
                <td>{{ tag.Description }}</td>
                <td>{{ tag.UnitOfMeasurement.Abbreviation }}</td>
                <td>{{ tag.Lookup.Name }}</td>
                <td><a class = "btn btn-default" title = "Edit" href = "{{ url_for("tags.editTag", tagId = tag.TagId) }}">
                    <span class="glyphicon glyphicon-edit"></span></a></td>
                <td><a class = "btn btn-default" title = "Delete" href = "{{ url_for("tags.deleteTag", tagId = tag.TagId) }}">
                    <span class="glyphicon glyphicon-trash"></span></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <link rel = "stylesheet" type = "text/css" href = {{ url_for("static", filename = "css/datatables.min.css") }}/> 
    <script type = "text/javascript" src = {{ url_for("static", filename = "js/datatables.min.js") }}></script>
    <script>
        $('#tagsTable').DataTable
        ({
            "order":
            [
                [1, 'asc'],             // Area.
                [2, 'asc']              // Name.
            ],
            "columns":
            [
                { "orderable": false }, // Tag values button.
                null,
                null,
                null,
                null,
                null,
                { "orderable": false }, // Edit tag button.
                { "orderable": false }  // Delete tag button.
            ],
            "stateSave": true,
            "stateDuration": 0,
            "pageLength": 25
        });
    </script>
{% endblock %}
