{% extends "base.html" %}

{% block title %}
Element Attribute Templates
{% endblock %}

{% block page_content %}
<div>
    <h1>Element Attribute Templates</h1>
    <a class = "btn btn-default" title = "Add" href = "{{ url_for("elementAttributeTemplates.addElementAttributeTemplate") }}" role = "button">
        <span class="glyphicon glyphicon-plus"></span></a>
    <br><br>
    <table id = "elementAttributeTemplatesTable" class = "table">
        <thead>
            <tr>
                <th>Element Template</th>
                <th>Name</th>
                <th>Description</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for elementAttributeTemplate in elementAttributeTemplates %}
            <tr>
                <td>{{ elementAttributeTemplate.ElementTemplate.Site.Enterprise.Abbreviation + "_" + 
                    elementAttributeTemplate.ElementTemplate.Site.Abbreviation + "_" + elementAttributeTemplate.ElementTemplate.Name }}</td>
                <td>{{ elementAttributeTemplate.Name }}</td>
                <td>{{ elementAttributeTemplate.Description }}</td>
                <td><a class = "btn btn-default" title = "Edit" href = "{{ url_for("elementAttributeTemplates.editElementAttributeTemplate",
                    elementAttributeTemplateId = elementAttributeTemplate.ElementAttributeTemplateId) }}">
                    <span class="glyphicon glyphicon-edit"></span></a></td>
                <td><a class = "btn btn-default" title = "Delete" href = "{{ url_for("elementAttributeTemplates.deleteElementAttributeTemplate",
                    elementAttributeTemplateId = elementAttributeTemplate.ElementAttributeTemplateId) }}">
                    <span class="glyphicon glyphicon-trash"></span></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <link rel = "stylesheet" type = "text/css" href = {{ url_for("static", filename = "css/datatables.min.css") }}/> 
    <script type = "text/javascript" src = {{ url_for("static", filename = "js/datatables.min.js") }}></script>
    <script>
        $('#elementAttributeTemplatesTable').DataTable
        ({
            "order":
            [
                [0, 'asc'],             // Element template path.
                [1, 'asc']              // Element template name.
            ],
            "columns":
            [
                null,
                null,
                null,
                { "orderable": false }, // Edit element button.
                { "orderable": false }  // Delete element button.
            ],
            "stateSave": true,
            "stateDuration": 0,
            "pageLength": 25
        });
    </script>
{% endblock %}
