{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Data Entry - Element Attributes{% endblock %}

{% block page_content %}
<div>
    <h1>{{ elementName }}</h1>
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Attribute</th>
                <th>Last Timestamp</th>
                <th>Last Value</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for elementAttribute in elementAttributes %}
            <tr>
                <td><a class="btn btn-default" href="{{ url_for('dataEntry.add_elementAttributeValue', elementId=elementAttribute.ElementId, tagId=elementAttribute.Tag.TagId) }}">Add</a></td>
                <td>{{ elementAttribute.AttributeTemplate.Name }}</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
                {#% for tagValue in elementAttribute.Tag.TagValues | sort(attribute='Timestamp', reverse=True) %#}
            <tr>
                <td></td>
                <td></td>
                {% if elementAttribute.Tag.TagValues[0] %}
                {% set firstTagValue = elementAttribute.Tag.TagValues | sort(attribute='Timestamp', reverse=True) | first() %}
                <td>{{ firstTagValue.Timestamp }}</td>
                <td>{{ firstTagValue.Value }}</td>
                <td><a class="btn btn-default" href="{{ url_for('dataEntry.edit_elementAttributeValue', elementId=elementAttribute.ElementId, tagValueId=firstTagValue.TagValueId) }}">Edit</a></td>
                <td><a class="btn btn-default" href="{{ url_for('dataEntry.delete_elementAttributeValue', elementId=elementAttribute.ElementId, tagValueId=firstTagValue.TagValueId) }}">Delete</a></td>
                {% else %}
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                {% endif %}
            </tr>
                {#% endfor %#}
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
