{% extends "base.html" %}

{% block title %}
Attribute Templates
{% endblock %}

{% block page_content %}
<div>
    <h1>Attribute Templates</h1>
    <a class = "btn btn-default" title = "Add" href = "{{ url_for("attributeTemplates.addAttributeTemplate") }}" role = "button">
        <span class="glyphicon glyphicon-plus"></span></a>
    <br><br>
    <table id = "attributeTemplatesTable" class = "table">
        <thead>
            <tr>
                <th>Element Template</th>
                <th>Name</th>
                <th>Description</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for attributeTemplate in attributeTemplates %}
            <tr>
                <td>{{ attributeTemplate.ElementTemplate.Site.Enterprise.Abbreviation + "_" + attributeTemplate.ElementTemplate.Site.Abbreviation + "_" +
                    attributeTemplate.ElementTemplate.Name }}</td>
                <td>{{ attributeTemplate.Name }}</td>
                <td>{{ attributeTemplate.Description }}</td>
                <td><a class = "btn btn-default" title = "Edit" href = "{{ url_for("attributeTemplates.editAttributeTemplate",
                    attributeTemplateId = attributeTemplate.AttributeTemplateId) }}"><span class="glyphicon glyphicon-edit"></span></a></td>
                <td><a class = "btn btn-default" title = "Delete" href = "{{ url_for("attributeTemplates.deleteAttributeTemplate",
                    attributeTemplateId = attributeTemplate.AttributeTemplateId) }}"><span class="glyphicon glyphicon-trash"></span></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <link rel = "stylesheet" type = "text/css" href = {{ url_for("static", filename = "css/datatables.min.css") }}/> 
    <script type = "text/javascript" src = {{ url_for("static", filename = "js/datatables.min.js") }}></script>
    <script>
        $('#attributeTemplatesTable').DataTable
        ({
            order:
            [
                [0, 'asc'],             // Element template path.
                [1, 'asc']              // Element template name.
            ],
            "columns":
            [
                null,
                null,
                null,
                { "orderable": false }, // Edit element button.
                { "orderable": false }  // Delete element button.
            ],
            stateSave: true
        });
    </script>
{% endblock %}
