{% import "bootstrap/wtf.html" as wtf %}
{% from "macros.html" import breadcrumb with context %}

{% extends "base.html" %}

{% block title %}
    {{ operation }} {{ modelName }}
{% endblock %}

{% block page_content %}
{% if breadcrumbs %}
    {{ breadcrumb(breadcrumbs) }}
{% endif %}
<div class = "page-header">
    <h1>{{ operation }} <small>{{ modelName }}</small></h1>
</div>
<div>
    {{ wtf.quick_form(form) }}
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        $(document).ready(function()
        {
            $(".form-control").first().focus()

            $("#submit").hide()

            $("#submit").parent().append("<button class = \"btn btn-default\" id = \"buttonSave\" title = \"Save\" type = \"submit\">" +
                "<span class = \"glyphicon glyphicon-floppy-disk\" aria-hidden = \"true\"></span></button>")
        })
    </script>
{% endblock %}
