{% extends "addEdit.html" %}

{% block scripts %}
    {{ super() }}
    <script>
        function setUtcTimestamp()
        {
            var tagValueTimestamp = $("#timestamp").val()
            var tagValueTimestampIsValid = moment(tagValueTimestamp, "YYYY-M-D H:m:s").isValid()

            // If the timestamp is valid, update the UTC timestamp.
            if (tagValueTimestampIsValid)
            {
                var timestamp = moment(tagValueTimestamp)
                $("#utcTimestamp").val(timestamp.utc().format("YYYY-MM-DD HH:mm:ss"))
            }
        }

        $(document).ready(function()
        {
            {% if not form.errors %}
                var timestamp = moment.utc($("#timestamp").attr("value"))
                $("#timestamp").val(timestamp.local().format("YYYY-MM-DD HH:mm:ss"))
            {% endif %}

            $("#buttonSave").click(function()
            {
                setUtcTimestamp()
            })

            $(document).keypress(function(event)
            {
                if (event.which == 13)
                {
                    setUtcTimestamp()
                }
            })
        })
    </script>
{% endblock %}