{% extends "bootstrap/base.html" %}

{% block title %}{% endblock %}

{% block navbar %}
    <div class = "navbar navbar-inverse" role = "navigation">
        <div class = "container-fluid">
            <div class = "navbar-header">
                <button type = "button" class = "navbar-toggle" data-toggle = "collapse" data-target = ".navbar-collapse">
                    <span class = "sr-only">Toggle navigation</span>
                    <span class = "icon-bar"></span>
                    <span class = "icon-bar"></span>
                    <span class = "icon-bar"></span>
                </button>
                <a class = "navbar-brand" href = "/">Brewery Pi</a>
            </div>
            <div class = "navbar-collapse collapse">
                {% if current_user.is_authenticated %}
                <ul class = "nav navbar-nav">
                    {% if current_user.isAdministrator() %}
                        <li class = "dropdown"><a href = "#" class = "dropdown-toggle" data-toggle = "dropdown">Configuration <span class = "caret"></span></a>
                            <ul class = "dropdown-menu">
                                <li><a href = '{{ url_for("physicalModels.selectPhysicalModel") }}'>Brewery Modeling</a></li>
                                <li><a href = '{{ url_for("lookups.selectLookup") }}'>Lookups</a></li>
                                <li><a href = '{{ url_for("unitOfMeasurements.listUnitOfMeasurements") }}'>Units</a></li>
                                <li><a href = '{{ url_for("users.listUsers") }}'>Users</a></li>
                            </ul>
                        </li>
                    {% endif %}
                    <li class = "dropdown"><a href = "#" class = "dropdown-toggle" data-toggle = "dropdown">Tags <span class = "caret"></span></a>
                        <ul class = "dropdown-menu">
                            <li><a href = '{{ url_for("tags.selectTag") }}'>Tags</a></li>
                            {% if current_user.isAdministrator() %}
                                <li><a href = '{{ url_for("tags.exportTags") }}'>Export</a></li>
                                <li><a href = '{{ url_for("tags.importTags") }}'>Import</a></li>
                            {% endif %}
                        </ul>
                    </li>
                    <li class = "dropdown"><a href = "#" class = "dropdown-toggle" data-toggle = "dropdown">Elements <span class = "caret"></span></a>
                        <ul class = "dropdown-menu">
                            <li><a href = '{{ url_for("elements.selectElement") }}'>Elements</a></li>
                            {% if current_user.isAdministrator() %}
                                <li><a href = '{{ url_for("elementAttributes.exportElementAttributes") }}'>Export</a></li>
                                <li><a href = '{{ url_for("elementAttributes.importElementAttributes") }}'>Import</a></li>
                            {% endif %}
                        </ul>
                    </li>
                    <li class = "dropdown"><a href = "#" class = "dropdown-toggle" data-toggle = "dropdown">Event Frames <span class = "caret"></span></a>
                        <ul class = "dropdown-menu">
                            <li><a href = '{{ url_for("eventFrames.selectEventFrame") }}'>Event Frames</a></li>
                            <li><a href = '{{ url_for("eventFrameGroups.listEventFrameGroups") }}'>Groups</a></li>
                            {% if current_user.isAdministrator() %}
                            <li><a href = '{{ url_for("eventFrameAttributes.exportEventFrameAttributes") }}'>Export</a></li>
                            <li><a href = '{{ url_for("eventFrameAttributes.importEventFrameAttributes") }}'>Import</a></li>
                            {% endif %}
                        </ul>
                    </li>
                    <li><a href = {{ "" | grafanaUrl() }} target = "_blank">Grafana</a></li>
                    {% if config["IS_RASPBERRY_PI"] and current_user.isAdministrator() %}
                        <li class = "dropdown"><a href = "#" class = "dropdown-toggle" data-toggle = "dropdown">Raspberry Pi <span class = "caret"></span></a>
                            <ul class = "dropdown-menu">
                                <li><a href = '{{ url_for("raspberryPiUtilities.backupDatabase") }}'>Backup Database</a></li>
                                <li><a href = '{{ url_for("raspberryPiUtilities.info") }}'>Info</a></li>
                                <li><a href = '{{ url_for("raspberryPiUtilities.reboot") }}'>Reboot</a></li>
                                <li><a href = '{{ url_for("raspberryPiUtilities.restoreDatabase") }}'>Restore Database</a></li>
                                <li><a href = '{{ url_for("raspberryPiUtilities.shutdown") }}'>Shutdown</a></li>
                            </ul>
                        </li>
                    {% endif %}
                </ul>
                {% endif %}
                <ul class = "nav navbar-nav navbar-right">
                    {% if current_user.is_authenticated %}
                        {% set numberOfNewMessages = current_user.numberOfNewMessages() %}
                        {% if numberOfNewMessages > 0 %}
                            {% set messagesVisibility = "visible" %}
                        {% else %}
                            {% set messagesVisibility = "hidden" %}
                        {% endif %}

                        {% set numberOfNewNotifications = numberOfNewMessages %}
                        {% if numberOfNewNotifications > 0 %}
                            {% set notificationsVisibility = "visible" %}
                        {% else %}
                            {% set notificationsVisibility = "hidden" %}
                        {% endif %}
                        <li class = "dropdown"><a href = "#" class = "dropdown-toggle" data-toggle = "dropdown">
                            <span id = "spanNotifications" class = "badge" style = "visibility: {{ notificationsVisibility }}">{{ numberOfNewNotifications }}
                                </span>
                            {{ current_user.Name }}
                            <span class = "caret"></span>
                            </a>
                            <ul class = "dropdown-menu">
                                <li><a href = '{{ url_for("users.changePassword", userId = current_user.UserId) }}'>Change Password</a></li>
                                <li><a href = '{{ url_for("messages.listMessages") }}'>Messages
                                    <span id = "spanMessages" class = "badge" style = "visibility: {{ messagesVisibility }}">{{ numberOfNewMessages }}</span>
                                </a></li>
                                <li><a href = '{{ url_for("authentications.logout") }}'>Logout</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li><a href = '{{ url_for("authentications.login") }}'>Log In</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class = "container-fluid">
        <div id = "divFlashedMessages">
            {% for category, message in get_flashed_messages(with_categories = true) %}
                {% if category == "message" %}
                    {% set alertClass = "alert alert-warning" %}
                {% else %}
                    {% set alertClass = category %}
                {% endif %}
                <div class = "{{ alertClass }}">
                    <button type = "button" class = "close" data-dismiss = "alert">&times;</button>
                    {{ message | safe }}
                </div>
            {% endfor %}
        </div>
        {% block page_content %}
        {% endblock %}
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
    <script>
        {% if current_user.is_authenticated %}
            $(function()
            {
                var since = 0;
                setInterval(function()
                {
                    $.ajax('{{ url_for("notifications.getNotifications") }}?since=' + since).done(function(notifications)
                    {
                        for (var i = 0; i < notifications.length; i++)
                        {
                            switch (notifications[i].name)
                            {
                                case "unreadMessageCount":
                                    setNumberOfNewMessages(notifications[i].data)
                                    setNumberOfNewNotifications(notifications[i].data)
                                    break
                                case "unreadEventFrameMessageCount":
                                    for (var eventFrameId in notifications[i].data)
                                    {
                                        setEventFrameMessageCount(eventFrameId, notifications[i].data[eventFrameId])
                                    }
                                    break
                            }
                            since = notifications[i].UnixTimestamp
                        }
                    })
                }, {{ config["NOTIFICATIONS_INTERVAL_IN_MILLISECONDS"] }})
            })
        {% endif %}

        function setEventFrameMessageCount(eventFrameId, count)
        {
            $("#trEventFrame" + eventFrameId).addClass("alert alert-warning")
            $("#spanEventFrameMessages" + eventFrameId).text(count)
            $("#spanEventFrameMessages" + eventFrameId).css("visibility", "visible")
        }

        function setNumberOfNewMessages(count)
        {
            $("#spanMessages").text(count)
            $("#spanMessages").css("visibility", count > 0 ? "visible" : "hidden")
        }

        function setNumberOfNewNotifications(count)
        {
            $("#spanNotifications").text(count)
            $("#spanNotifications").css("visibility", count > 0 ? "visible" : "hidden")
        }
    </script>
{% endblock %}

{% block setTabIndex %}
    <script>
        function setTabIndex()
        {
            var tabIndex = 1
            $('ol.breadcrumb a[title="Next"],a[title^=Add],a[title="Select"],#buttonSave').each(function()
            {
                $(this).attr("tabindex", tabIndex)
                tabIndex = tabIndex + 1
            })

            $($("ol.breadcrumb > li:not(.active) > a").get().reverse()).each(function()       
            {
                $(this).attr("tabindex", tabIndex)
                tabIndex = tabIndex + 1
            })
            
            $('ol.breadcrumb a[title="Next"]').focus()
        }
    </script>
{% endblock %}
