{% import "bootstrap/wtf.html" as wtf %}

{% extends "base.html" %}

{% block title %}
Import {{ importing }}
{% endblock %}

{% block page_content %}
<div class = "page-header">
    <h1>Import <small>{{ importing }}</small></h1>
</div>
<div>
    {{ wtf.quick_form(form) }}
</div>
<br/>
<div>
    {% if successes %}
    <div class = "alert alert-success" role = "alert">
        {% for success in successes %}
            <p>{{ success }}</p>
        {% endfor %}
    </div>
    {% endif %}

    {% if warnings %}
    <div class = "alert alert-warning" role = "alert">
        {% for warning in warnings %}
            <p>{{ warning }}</p>
        {% endfor %}
    </div>
    {% endif %}

    {% if errors %}
    <div class = "alert alert-danger" role = "alert">
        {% for error in errors %}
            <p>{{ error }}</p>
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        $(document).ready(function()
        {
            $("#submit").click(function() {
                alert("Performing an import can take several minutes dependent on the size of the data being imported. Do not leave this page until a " +
                    "success or failure message is returned.")
            })
            $("#submit").hide()
            $("#submit").parent().append("<button class = \"btn btn-default\" title = \"Import\" type = \"submit\">" +
                "<span class = \"glyphicon glyphicon-import\" aria-hidden = \"true\"></span></button>")
        })
    </script>
{% endblock %}
