{% extends "base.html" %}

{% block title %}
Areas
{% endblock %}

{% block page_content %}
<div>
    <h1>Areas</h1>
    <a class = "btn btn-default" title = "Add" href = "{{ url_for("areas.addArea") }}" role = "button"><span class="glyphicon glyphicon-plus"></span></a>
    <table class = "table">
        <thead>
            <tr>
                <th>Site</th>
                <th>Name</th>
                <th>Abbreviation</th>
                <th>Description</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for area in areas %}
            <tr>
                <td>{{ area.Site.Enterprise.Abbreviation + "_" + area.Site.Abbreviation }}</td>
                <td>{{ area.Name }}</td>
                <td>{{ area.Abbreviation }}</td>
                <td>{{ area.Description }}</td>
                <td><a class = "btn btn-default" title = "Edit" href = "{{ url_for("areas.editArea", areaId = area.AreaId) }}">
                    <span class="glyphicon glyphicon-edit"></span></a></td>
                <td><a class = "btn btn-default" title = "Delete" href = "{{ url_for("areas.deleteArea", areaId = area.AreaId) }}">
                    <span class="glyphicon glyphicon-trash"></span></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
